:host ::ng-deep  {
    .dropdown-list {
        overflow: hidden;
    }

    .multiselect-dropdown .dropdown-btn .selected-item {
        background: #84bd00 !important;
        border: 2px solid #84bd00 !important;
    }

    .multiselect-item-checkbox input[type=checkbox]+div:before {
        color: #84bd00 !important;
        border: 2px solid #84bd00 !important;
    }

    .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
        background: #84bd00 !important;
    }
}