<div class="flex flex-col w-80v md:w-160 max-h-80v -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium text-white">
            <span *ngIf="!isEdit">เพิ่มแผนงาน</span>
            <span *ngIf="isEdit">แก้ไขแผนงาน</span>
        </div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Body -->
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="topicForm">

        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>ลำดับที่</mat-label>
            <input matInput [formControlName]="'priority'">
            <div class="copy-fields-toggles" matSuffix></div>
            <mat-error>ลำดับที่ is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Plan</mat-label>
            <input matInput [formControlName]="'planDescription'">
            <div class="copy-fields-toggles" matSuffix></div>
        </mat-form-field>

        <!-- <mat-form-field>
            <mat-label>กำหนดเสร็จ</mat-label>
            <input matInput [formControlName]="'planActual'">
            <div class="copy-fields-toggles" matSuffix></div>
        </mat-form-field> -->
        <mat-form-field>
            <mat-label>กำหนดเสร็จ</mat-label>
            <input
                matInput
                [matDatepicker]="planActualDatepicker"
                datePickerFormat="L"
                [formControlName]="'planTargetDateSelect'"
                [placeholder]="'กำหนดเสร็จ'">
            <mat-datepicker-toggle
                matSuffix
                [for]="planActualDatepicker">
            </mat-datepicker-toggle>
            <mat-datepicker #planActualDatepicker>
            </mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>ทรัพยากรที่ต้องการ</mat-label>
            <input matInput [formControlName]="'resource'">
            <div class="copy-fields-toggles" matSuffix></div>
            <mat-error>ทรัพยากรที่ต้องการ is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>ผู้รับผิดชอบ</mat-label>
            <input matInput [formControlName]="'undertaker'">
            <div class="copy-fields-toggles" matSuffix></div>
        </mat-form-field>

        <!-- Alert -->
        <fuse-alert class="col-span-12" *ngIf="isShowError()" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <div class="flex-none flex items-center cursor-pointer"
                (click)="saveAndClose()">
                <mat-icon svgIcon="heroicons_outline:check-circle"></mat-icon>&nbsp;<span>ตกลง</span>
            </div>
            <div class="flex-none sm:ml-2 flex items-center cursor-pointer"
                (click)="close()">
                <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>&nbsp;<span>ยกเลิก</span>
            </div>
        </div>
    </form>
</div>
