<div class="grid grid-cols-12 gap-3 w-full min-w-0">
    <div class="col-span-12 shadow top-header relative h-40">
        <div class="text-2xl font-semibold">Action Plan Status</div>
        <div class="flex items-center shadow p-1 absolute right-2 top-2">
            <div class="grid grid-cols-12 w-80 gap-1" [formGroup]="form">
                <div class="col-span-12">
                    <mat-form-field class="w-full">
                        <mat-label>Date Update</mat-label>
                        <input
                            matInput
                            [ngxMatDatetimePicker]="dashboard3DatePicker" 
                            placeholder="date update"
                            [formControlName]="'dateUpdate'"
                            name="dateUpdate"
                            [min]="today"
                        >
                        <mat-datepicker-toggle 
                            matSuffix 
                            [for]="$any(dashboard3DatePicker)">
                        </mat-datepicker-toggle>
                        <ngx-mat-datetime-picker 
                            #dashboard3DatePicker 
                            [showSpinners]="true" 
                            [showSeconds]="false"
                            [stepHour]="1"
                            [stepMinute]="5"
                            [touchUi]="false"
                            [enableMeridian]="false"
                        >
                        </ngx-mat-datetime-picker>
                        <mat-error *ngIf="form.get('dateUpdate').errors?.['matDatetimePickerParse']">
                            รูปแบบวันที่สัมภาษณ์ไม่ถูกต้อง
                        </mat-error>
                        <mat-error *ngIf="form.get('dateUpdate').errors?.['matDatetimePickerMin']">
                            ไม่สามารถเลือกวันที่ย้อนหลังได้
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-span-6">
                    <multi-select-dropdown-form
                        [label]="'Business Unit'"
                        [name]="'bus'"
                        [placeholder]="'bus'"
                        [options]="bus"
                        [itemsShowLimit]="1"
                        (selectedChange)="selectedBusChange()"  
                    >
                    </multi-select-dropdown-form>
                </div>
                <div class="col-span-6">
                    <multi-select-dropdown-form
                        [label]="'Plant'"
                        [name]="'plants'"
                        [placeholder]="'plants'"
                        [options]="filteredPlants"
                        [itemsShowLimit]="1"    
                    >
                    </multi-select-dropdown-form>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <mat-icon class="cursor-pointer icon-size-7" [svgIcon]="'heroicons_solid:arrow-path'" (click)="refresh()"></mat-icon>
            </div>
        </div>
    </div>
    <div class="col-span-12 shadow relative">
        <div class="w-full flex flex-col gap-2 p-2 overflow-x-auto">
            <div class="flex gap-2">
                <ng-container *ngFor="let actionPlanStatusChart of actionPlanStatusCharts">
                    <div class="flex-item shadow">
                        <div class="header2-bg">{{actionPlanStatusChart.name}}</div>
                        <apx-chart
                            [series]="actionPlanStatusChart.data.radar.series"
                            [chart]="radarChartOptions.chart"
                            [xaxis]="actionPlanStatusChart.data.radar.xaxis"
                            [colors]="radarChartOptions.colors"
                        ></apx-chart>
                    </div>
                </ng-container>
            </div>
            <div class="header-plan"><div class="header-bg absolute">Number of Action Plan & Status</div></div>
            <div class="flex gap-2">
                <ng-container *ngFor="let actionPlanStatusChart of actionPlanStatusCharts">
                    <div class="flex-item shadow">
                        <div class="grid grid-cols-3 w-full">
                            <div class="col-span-1">
                                <table class="total-kpi overflow-y-visible">
                                    <tr>
                                        <th>
                                            Total KPI
                                        </th>
                                    </tr>
                                    <tr *ngFor="let elem of actionPlanStatusChart.data.totalKpiTable">
                                        <td>
                                            <span class="flex items-center">
                                                <span class="leading-4">{{elem.name}}: {{elem.value}}</span>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-span-2">
                                <apx-chart
                                    [series]="actionPlanStatusChart.data.totalKpiBar.series"
                                    [chart]="barChartOptions.chart"
                                    [dataLabels]="barChartOptions.dataLabels"
                                    [plotOptions]="barChartOptions.plotOptions"
                                    [yaxis]="barChartOptions.yaxis"
                                    [legend]="barChartOptions.legend"
                                    [fill]="barChartOptions.fill"
                                    [stroke]="barChartOptions.stroke"
                                    [tooltip]="barChartOptions.tooltip"
                                    [xaxis]="actionPlanStatusChart.data.totalKpiBar.xaxis"
                                ></apx-chart>
                            </div>
                        </div>
                        <!-- <div class="grid grid-cols-3 w-full">
                            <div class="col-span-1">
                                <table class="critical-kpi overflow-y-visible">
                                    <tr>
                                        <th>
                                            Critical KPI
                                        </th>
                                    </tr>
                                    <tr *ngFor="let elem of actionPlanStatusChart.data.criticalKpiTable">
                                        <td>
                                            <span class="flex items-center">
                                                <span class="leading-4">{{elem.name}}: {{elem.value}}</span>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-span-2">
                                <apx-chart
                                    [series]="actionPlanStatusChart.data.criticalKpiBar.series"
                                    [chart]="barChart2Options.chart"
                                    [dataLabels]="barChart2Options.dataLabels"
                                    [plotOptions]="barChart2Options.plotOptions"
                                    [yaxis]="barChart2Options.yaxis"
                                    [legend]="barChart2Options.legend"
                                    [fill]="barChart2Options.fill"
                                    [stroke]="barChart2Options.stroke"
                                    [tooltip]="barChart2Options.tooltip"
                                    [xaxis]="actionPlanStatusChart.data.criticalKpiBar.xaxis"
                                ></apx-chart>
                            </div>
                        </div> -->
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>