$header-color: rgb(197, 224, 181);
$header2-color: rgb(68, 123, 102);

.top-header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bg {
  background-color: $header-color;
  font-weight: 400;
  text-align: center;
}

.header-plan {
  height: 21px;
  div {
    width: calc(100% - 16px);
  }
}

.header2-bg {
  background-color: $header2-color;
  color: white;
  font-weight: 400;
  text-align: center;
}

.flex-item {
  flex-basis: 250px;
  flex-grow: 1;
  min-width: 250px;
}

// mat-form-field
:host ::ng-deep .mat-form-field-wrapper {
  margin-bottom: 0px !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
  min-height: 24px !important;
}

// table
table {
  table-layout: fixed;
}

tr.mat-row,
tr.mat-header-row  {
  height: 10px;
}

th, td {
  font-size: 10px;
}

th.mat-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 2px;
}

th.mat-cell:last-of-type,
td.mat-cell:last-of-type {
  padding-right: 2px;
}

// total-kpi table
.total-kpi {
  th {
    background-color:rgb(90, 155, 213) !important;
    color: white !important;
    text-align: left;
    font-weight: 500;
  }

  tr:nth-child(odd) {
    background-color: rgb(210, 221, 239) !important;
  }

  tr:nth-child(even) {
    background-color: rgb(234, 238, 247) !important;
  }
}

// critical-kpi table
.critical-kpi {
  th {
    background-color:rgb(237, 125, 49) !important;
    color: white !important;
    text-align: left;
    font-weight: 500;
  }

  tr:nth-child(odd) {
    background-color: rgb(249, 215, 206) !important;
  }

  tr:nth-child(even) {
    background-color: rgb(253, 235, 233) !important;
  }
}



// date time picker
:host ::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element {
  padding: 0 !important;
}

:host ::ng-deep .mat-datepicker-toggle{
  width: 10px !important;
  height: 10px !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix .mat-icon-button {
  width: 10px !important;
  min-width: 10px !important;
  height: 10px !important;
  min-height: 10px !important;
  .mat-datepicker-toggle-default-icon {
    width: 10px !important;
    height: 10px !important;
    min-width: 10px !important;
    min-height: 10px !important;
    font-size: 10px !important;
  }
}