<div class="grid grid-cols-12 gap-3 w-full min-w-0">
    <div class="col-span-4 shadow top-header">
        <div class="text-base font-semibold text-center">Quality Management Performance By BU</div>
    </div>
    <div class="col-span-8 shadow row1">
        <div class="flex items-center h-full p-2">
            <div class="grid grid-cols-4 gap-2 p-1 items-center w-full" [formGroup]="form">
                <mat-form-field>
                    <mat-label>Year</mat-label>
                    <mat-select [formControlName]="'year'" placeholder="select year">
                        <mat-option *ngFor="let year of years" [value]="year.value">{{year.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Month</mat-label>
                    <mat-select [formControlName]="'month'" placeholder="select month">
                        <mat-option *ngFor="let month of months" [value]="month.value">{{month.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <multi-select-dropdown-form
                    [label]="'Business Unit'"
                    [name]="'bus'"
                    [placeholder]="'bus'"
                    [options]="bus"
                    [itemsShowLimit]="1"
                    (selectedChange)="selectedBusChange()"    
                >
                </multi-select-dropdown-form>
                <multi-select-dropdown-form
                    [label]="'Plant'"
                    [name]="'plants'"
                    [placeholder]="'plants'"
                    [options]="plants"
                    [itemsShowLimit]="1"    
                >
                </multi-select-dropdown-form>
            </div>
            <div class="flex items-center justify-center">
                <mat-icon class="cursor-pointer icon-size-7" [svgIcon]="'heroicons_solid:arrow-path'" (click)="refresh()"></mat-icon>
            </div>
        </div>
    </div>
    <div class="col-span-12 shadow">
        <div class="header-bg">% Achieve KPI Type Group by BU</div>
        <div class="flex overflow-x-auto gap-2 p-2 w-full">
            <ng-container *ngFor="let qualityManagementPerformanceByBuChart of qualityManagementPerformanceByBuCharts">
                <div class="shadow flex-item">
                    <div class="header2-bg">{{qualityManagementPerformanceByBuChart.name}}</div>
                    <apx-chart
                        [series]="qualityManagementPerformanceByBuChart.data.radar"
                        [chart]="radarChartOptions.chart"
                        [xaxis]="radarChartOptions.xaxis"
                        [colors]="radarChartOptions.colors"
                    ></apx-chart>
                    <apx-chart
                        [series]="qualityManagementPerformanceByBuChart.data.barchart.series"
                        [chart]="barChartOptions.chart"
                        [dataLabels]="barChartOptions.dataLabels"
                        [plotOptions]="barChartOptions.plotOptions"
                        [yaxis]="barChartOptions.yaxis"
                        [legend]="barChartOptions.legend"
                        [fill]="barChartOptions.fill"
                        [stroke]="barChartOptions.stroke"
                        [tooltip]="barChartOptions.tooltip"
                        [xaxis]="qualityManagementPerformanceByBuChart.data.barchart.xaxis"
                    ></apx-chart>
                    <apx-chart
                        [series]="qualityManagementPerformanceByBuChart.data.barchart2.series"
                        [chart]="barChart2Options.chart"
                        [dataLabels]="barChart2Options.dataLabels"
                        [plotOptions]="barChart2Options.plotOptions"
                        [xaxis]="qualityManagementPerformanceByBuChart.data.barchart2.xaxis"
                        [stroke]="barChart2Options.stroke"
                    ></apx-chart>
                </div>
            </ng-container>
        </div>
    </div>
</div>