<div class="grid grid-cols-12 gap-3 w-full min-w-0">
    <div class="col-span-7 shadow top-header">
        <div class="text-2xl font-semibold">Quality Management Performance By BU</div>
    </div>
    <div class="col-span-5 shadow row1">
        <div class="grid grid-cols-4 gap-2 p-2">
            <mat-form-field class="flex-auto">
                <mat-label>Year</mat-label>
                <mat-select [(ngModel)]="selectedYear" placeholder="select year">
                    <mat-option *ngFor="let year of years" [value]="year.value">{{year.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Month</mat-label>
                <mat-select [(ngModel)]="selectedMonth" placeholder="select month">
                    <mat-option *ngFor="let month of months" [value]="month.value">{{month.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Bu</mat-label>
                <mat-select [(ngModel)]="selectedBu" placeholder="select bu">
                    <mat-option *ngFor="let bu of bus" [value]="bu.value">{{bu.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Plant</mat-label>
                <mat-select [(ngModel)]="selectedPlant" placeholder="select plant">
                    <mat-option *ngFor="let plant of plants" [value]="plant.value">{{plant.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="col-span-12 shadow">
        <div class="header-bg">% Achieve KPI Type Group by BU</div>
        <div class="grid grid-cols-5 gap-2 p-2 w-full">
            <ng-container *ngFor="let data of mockData">
                <div class="col-span-1 shadow">
                    <div class="header2-bg">{{data.name}}</div>
                    <apx-chart
                        [series]="data.data.radar"
                        [chart]="radarChartOptions.chart"
                        [xaxis]="radarChartOptions.xaxis"
                        [colors]="radarChartOptions.colors"
                    ></apx-chart>
                    <apx-chart
                        [series]="data.data.barchart.series"
                        [chart]="barChartOptions.chart"
                        [dataLabels]="barChartOptions.dataLabels"
                        [plotOptions]="barChartOptions.plotOptions"
                        [yaxis]="barChartOptions.yaxis"
                        [legend]="barChartOptions.legend"
                        [fill]="barChartOptions.fill"
                        [stroke]="barChartOptions.stroke"
                        [tooltip]="barChartOptions.tooltip"
                        [xaxis]="data.data.barchart.xaxis"
                    ></apx-chart>
                    <apx-chart
                        [series]="data.data.barchart2.series"
                        [chart]="barChart2Options.chart"
                        [dataLabels]="barChart2Options.dataLabels"
                        [plotOptions]="barChart2Options.plotOptions"
                        [xaxis]="data.data.barchart2.xaxis"
                        [stroke]="barChart2Options.stroke"
                    ></apx-chart>
                </div>
            </ng-container>
        </div>
    </div>
</div>