<p class="table-title flex flex-row justify-between items-center">
    <span>เป้าหมายหลัก</span>
    <span *ngIf="isEdit" class="flex items-center cursor-pointer" (click)="addTarget();">
        <mat-icon style="color:white" svgIcon="heroicons_outline:plus"></mat-icon>เพิ่มเป้าหมายหลัก
    </span>
</p>
<div class="overflow-x-auto">
    <table mat-table [dataSource]="targets" multiTemplateDataRows #targetTable>
        <ng-container matColumnDef="expandIcon">
            <th mat-header-cell *matHeaderCellDef>
                <mat-icon [class.active]="checkExpandAll()" class="chevron-icon icon-size-5 text-white" svgIcon="heroicons_solid:chevron-double-right"
                                    (click)="expandOrCollapseAll()"></mat-icon>
                <!-- <mat-icon class="icon-size-5 text-white" svgIcon="heroicons_solid:chevron-double-down" (click)="expandAll()"></mat-icon>
                <mat-icon class="icon-size-5 text-white" svgIcon="heroicons_solid:chevron-double-up" (click)="collapseAll()"></mat-icon> -->
            </th>
            <td mat-cell *matCellDef="let element; let i = dataIndex">
                <div class="flex items-center">
                    <mat-icon class="arrow-icon" [class.active]="checkExpanded(element)" (click)="pushPopElement(element)">play_arrow</mat-icon>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef>ลำดับที่</th>
            <td mat-cell *matCellDef="let element; let i = dataIndex">
                {{element.priority}}
            </td>
        </ng-container>
        <ng-container matColumnDef="targetName">
            <th mat-header-cell *matHeaderCellDef>หัวข้อเป้าหมายหลัก</th>
            <td mat-cell *matCellDef="let element; let i = dataIndex">
                {{element.targetName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="standard">
            <th mat-header-cell *matHeaderCellDef>Standard</th>
            <td mat-cell *matCellDef="let element; let i = dataIndex">
                {{element.standard}}
            </td>
        </ng-container>
        <!-- <ng-container matColumnDef="targetMission">
            <th mat-header-cell *matHeaderCellDef>พันธะมุ่งหมาย</th>
            <td mat-cell *matCellDef="let element; let i = dataIndex">
                {{element.targetMission}}
            </td>
        </ng-container> -->
        <ng-container matColumnDef="editIcon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = dataIndex">
                <div *ngIf="isEdit" class="flex items-center">
                    <mat-icon (click)="editTarget(i);" svgIcon="heroicons_outline:pencil" class="w-3.5 min-w-3.5 cursor-pointer" title="แก้ไขหมายหลัก"></mat-icon>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="deleteIcon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = dataIndex">
                <div *ngIf="isEdit" class="flex items-center">
                    <mat-icon (click)="deleteTarget(i);" svgIcon="heroicons_outline:x" class="w-5 min-w-5 cursor-pointer" title="ลบเป้าหมายหลัก"></mat-icon>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element; let i = dataIndex" [attr.colspan]="7">
                <div class="expand-element"
                [@detailExpand]="checkExpanded(element) ? 'expanded' : 'collapsed'">
                    <div class="w-full">
                        <app-sub-target-table
                            [runningNo]="runningNo" 
                            [targetId]="element.id"
                            [subTargets]="element.details"
                            [isEdit]="isEdit"
                            (markForEdit)="markForEditHandler($event)" 
                        >
                        </app-sub-target-table>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.hidden]="row.markForDelete" class="normal-row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" [class.hidden]="row.markForDelete" class="expand-row"></tr>
    </table>
</div>

