<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-4">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div class="text-3xl font-normal text-primary tracking-tight leading-8">Dashboard</div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- Project selector -->
            <div
                class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                matRipple
                [matMenuTriggerFor]="projectsMenu">
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <div class="font-medium leading-6 truncate">{{selectedProject}}</div>
                    </div>
                    <div class="flex items-center justify-center pl-2">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                    </div>
                </div>
                <mat-menu
                    #projectsMenu="matMenu"
                    [xPosition]="'before'">
                    <button
                        mat-menu-item
                        (click)="selectedProject='Quality Management Performance'">Quality Management Performance
                    </button>
                    <button
                        mat-menu-item
                        (click)="selectedProject='Quality Management Performance By BU'">Quality Management Performance By BU
                    </button>
                    <button
                        mat-menu-item
                        (click)="selectedProject='Action Plan Status'">Action Plan Status
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px py-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="sm:px-2">
                <dashboard1 *ngIf="selectedProject === 'Quality Management Performance'" [bus]="bus" [subBus]="subBus" [plants]="plants"></dashboard1>
                <dashboard2 *ngIf="selectedProject === 'Quality Management Performance By BU'" [bus]="bus" [subBus]="subBus" [plants]="plants"></dashboard2>
                <dashboard3 *ngIf="selectedProject === 'Action Plan Status'" [bus]="bus" [subBus]="subBus" [plants]="plants"></dashboard3>
            </div>
        </div>
    </div>
</div>
