<div class="flex flex-col w-80v md:w-160 max-h-80v -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium text-white">Edit Permission</div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Body -->
    <form class="grid gap-4 grid-cols-12 p-6 sm:p-8 overflow-y-auto items-center" #f="ngForm">
        <div class="col-span-4 font-medium">Business Unit</div>
        <div class="col-span-8">
            <autocomplete label="Business Unit" name="bu" [options]="bus" [required]="true" [(value)]="selectedBu" (valueChange)="buChange($event)" [requireMatch]="true"></autocomplete>
        </div>
        <div class="col-span-4 font-medium">Sub Business Unit</div>
        <div class="col-span-8">
            <autocomplete label="Sub Business Unit" name="subBu" [options]="subBus" [(value)]="selectedSubBu" (valueChange)="subBuChange($event)" [requireMatch]="true"></autocomplete>
        </div>
        <div class="col-span-4 font-medium">Plant</div>
        <div class="col-span-8">
            <autocomplete label="Plant" name="plant" [options]="plants" [(value)]="selectedPlant" [requireMatch]="true"></autocomplete>
        </div>

        <div class="col-span-4 font-medium">Status<span class="text-warn">*</span></div>
        <div class="col-span-8 flex items-center">
            :
            <mat-form-field class="flex-auto ml-2">
                <mat-select [(ngModel)]="isActive" name="isActive" placeholder="Status">
                    <mat-option *ngFor="let isActive of isActives" [value]="isActive.value">{{isActive.title}}</mat-option>
                </mat-select>
                <mat-error>Status is required</mat-error>
            </mat-form-field>
        </div>

        <!-- Alert -->
        <fuse-alert class="col-span-12" *ngIf="isShowError()" [appearance]="'outline'" [showIcon]="false"
            [type]="alert.type" [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>

        <!-- Actions -->
        <div class="col-span-12 flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <div class="flex-none flex items-center cursor-pointer" (click)="close()">
                <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>&nbsp;<span>Cancel</span>
            </div>
            <div class="flex-none sm:ml-2 flex items-center cursor-pointer" (click)="saveAndClose()">
                <mat-icon svgIcon="heroicons_outline:check-circle"></mat-icon>&nbsp;<span>OK</span>
            </div>
        </div>
    </form>
</div>