<div class="flex flex-col w-80v md:w-160 max-h-80v -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-normal text-white">
            <ng-container *ngIf="!isEdit">เพิ่มOrganization</ng-container>
            <ng-container *ngIf="isEdit">แก้ไขOrganization</ng-container>
        </div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Body -->
    <form class="grid gap-4 grid-cols-12 p-6 sm:p-8 overflow-y-auto items-center" [formGroup]="organizationForm">
        <div class="col-span-4 font-medium">Organize Code<span class="text-warn">*</span></div>
        <div class="col-span-8 flex items-center">
            <mat-form-field class="flex-auto">
                <input matInput [formControlName]="'organizeCode'">
                <div class="copy-fields-toggles" matSuffix></div>
                <mat-error>Organize Code is required</mat-error>
            </mat-form-field>
        </div>

        <div class="col-span-4 font-medium">Organize Name<span class="text-warn">*</span></div>
        <div class="col-span-8 flex items-center">
            <mat-form-field class="flex-auto">
                <input matInput [formControlName]="'organizeName'">
                <div class="copy-fields-toggles" matSuffix></div>
                <mat-error>Organize Name is required</mat-error>
            </mat-form-field>
        </div>

        <div class="col-span-4 font-medium">Business Unit Code<span class="text-warn">*</span></div>
        <div class="col-span-8 flex items-center">
            <mat-form-field class="flex-auto">
                <mat-select [formControlName]="'businessUnitCode'" placeholder="Business Unit Code">
                    <mat-option *ngFor="let businessCode of businessUnitCodes" [value]="businessCode.value">
                        {{businessCode.title}}
                    </mat-option>
                </mat-select>
                <mat-error>Business Unit Code is required</mat-error>
            </mat-form-field>
        </div>

        <div class="col-span-4 font-medium">Sub Business Unit Code<span class="text-warn">*</span></div>
        <div class="col-span-8 flex items-center">
            <mat-form-field class="flex-auto">
                <mat-select [formControlName]="'subBusinessUnitCode'" placeholder="Sub Business UnitCode">
                    <mat-option *ngFor="let subBusinessCode of subBusinessUnitCodes" [value]="subBusinessCode.value">
                        {{subBusinessCode.title}}
                    </mat-option>
                </mat-select>
                <mat-error>Sub Business Unit Code is required</mat-error>
            </mat-form-field>
        </div>

        <div class="col-span-4 font-medium">Plant Code<span class="text-warn">*</span></div>
        <div class="col-span-8 flex items-center">
            <mat-form-field class="flex-auto">
                <mat-select [formControlName]="'plantCode'" placeholder="Plant Code">
                    <mat-option *ngFor="let plantCode of plantCodes" [value]="plantCode.value">{{plantCode.title}}
                    </mat-option>
                </mat-select>
                <mat-error>Plant Code is required</mat-error>
            </mat-form-field>
        </div>

        <div class="col-span-4 font-medium">Division Code<span class="text-warn">*</span></div>
        <div class="col-span-8 flex items-center">
            <mat-form-field class="flex-auto">
                <mat-select [formControlName]="'divisionCode'" placeholder="Division Code">
                    <mat-option *ngFor="let divisionCode of divisionCodes" [value]="divisionCode.value">
                        {{divisionCode.title}}
                    </mat-option>
                </mat-select>
                <mat-error>Division Code is required</mat-error>
            </mat-form-field>
        </div>

        <ng-container *ngIf="isEdit">
            <div class="col-span-4 font-medium">Status<span class="text-warn">*</span></div>
            <div class="col-span-8 flex items-center">
                <mat-form-field class="flex-auto">
                    <mat-select [formControlName]="'isActive'" placeholder="Status">
                        <mat-option *ngFor="let isActive of isActives" [value]="isActive.value">{{isActive.title}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Status is required</mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <!-- Alert -->
        <fuse-alert class="col-span-12" *ngIf="isShowError()" [appearance]="'outline'" [showIcon]="false"
            [type]="alert.type" [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>

        <!-- Actions -->
        <div class="col-span-12 flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <div class="flex-none flex items-center cursor-pointer" (click)="close()">
                <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>&nbsp;<span>ยกเลิก</span>
            </div>
            <div class="flex-none sm:ml-2 flex items-center cursor-pointer" (click)="saveAndClose()">
                <mat-icon svgIcon="heroicons_outline:check-circle"></mat-icon>&nbsp;<span>ตกลง</span>
            </div>
        </div>
    </form>
</div>