<p class="table-title flex flex-row justify-between items-center">
    <span>รายละเอียด</span>
    <span *ngIf="isEdit && leftYears.length > 0" class="flex items-center cursor-pointer" (click)="addPlan();">
        <mat-icon style="color:white" svgIcon="heroicons_outline:plus"></mat-icon>เพิ่มรายละเอียด
    </span>
</p>
<table mat-table [dataSource]="selectedPlan" multiTemplateDataRows #planTable>
    <ng-container matColumnDef="planDescription">
        <th mat-header-cell *matHeaderCellDef>รายละเอียด</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex">
            {{element.planDescription}}
        </td>
    </ng-container>
    <ng-container matColumnDef="planYear">
        <th mat-header-cell *matHeaderCellDef class="text-center">ปี</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex">
            <div class="w-full p-1">
                <mat-form-field class="w-full year-select">
                    <mat-select 
                        #yearSelect 
                        name="yearSelect" 
                        id="yearSelect" 
                        [(ngModel)]="selectedYear"
                        (ngModelChange)="yearChange($event)"
                    >
                        <mat-option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </td>
    </ng-container>
    <ng-container *ngFor="let col of monthColumns; let colI = index" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{capitalizeFirstLetter(col)}}</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center">
            <span class="w-full">
                <ng-container *ngIf="element['useMonth' + (colI + 1)]">
                    <div class="flex flex-col items-center">
                        <div>{{element['valueMonth' + (colI + 1)]}}</div>
                        <mat-icon class="w-5 min-w-5" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    </div>
                </ng-container>
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="undertaker">
        <th mat-header-cell *matHeaderCellDef>ผู้รับผิดชอบ</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex">
            {{element.undertaker}}
        </td>
    </ng-container>
    <ng-container matColumnDef="editIcon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = dataIndex">
            <mat-icon *ngIf="isEdit" (click)="editPlan(i);" svgIcon="heroicons_outline:pencil" class="w-3.5 min-w-3.5 cursor-pointer" title="แก้ไขรายละเอียด"></mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="deleteIcon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = dataIndex">
            <mat-icon *ngIf="isEdit" (click)="deletePlan(i);" svgIcon="heroicons_outline:x" class="w-5 min-w-5 cursor-pointer" title="ลบรายละเอียด"></mat-icon>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.hidden]="row.markForDelete" class="normal-row"></tr>
</table>