<ng-container *ngIf="!readonly">
    <input (change)="uploadFile(uploadFileInput.files)" type="file" id="myfile" name="myfile" class="mb-2" #uploadFileInput>
    <a (click)="uploadFileClick()" class="flex items-center mb-2 cursor-pointer">
        <mat-icon svgIcon="heroicons_outline:upload"></mat-icon>&nbsp;<span>Upload File</span>
    </a>
</ng-container>
<div class="bg-card shadow rounded overflow-hidden">
    <table [dataSource]="dataSource" mat-table style="min-width: 500px;" matSort>
        <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อไฟล์</th>
            <td mat-cell *matCellDef="let element">
                {{element.fileName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="uploader">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ผู้แนบไฟล์</th>
            <td mat-cell *matCellDef="let element">
                {{element.uploader}}
            </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่</th>
            <td mat-cell *matCellDef="let element">
                {{element.date}}
            </td>
        </ng-container>
        <ng-container matColumnDef="deleteIcon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element; let i = index">
                <mat-icon *ngIf="!readonly" (click)="deleteFileUpload(i)" svgIcon="heroicons_outline:x" class="text-warn icon-size-4 cursor-pointer"
                    title="Delete ไฟล์อัพโหลด"></mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: dataColumns"></tr>
    </table>
</div>