

<span class="ml-2 flex items-center cursor-pointer" 
    [ngClass]="{ 'mb-1' : treeControl?.dataNodes?.length > 0 }"
    (click)="addNewRootItem()">
    <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>&nbsp;<span>Add Organize</span>
</span>
<mat-tree #treeSelector [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-checkbox [color]="'primary'" class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
            (change)="todoItemSelectionToggleOnlySelf(node)" [ngClass]="{ 'ml-6': node.level == 0 }"
            >
            <ng-container *ngIf="node.level == 0;else roleText">
                {{organizeCodeNameMapper ? organizeCodeNameMapper[node.item]: ''}}
            </ng-container>
            <ng-template #roleText>
                {{roleCodeNameMapper ? roleCodeNameMapper[node.item]: ''}}
            </ng-template>
        </mat-checkbox>
            <ng-container *ngIf="node.level == 0;else roleIcon">
                <span class="ml-2 flex items-center cursor-pointer" (click)="addNewItem(node)">
                    <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>&nbsp;<span>Add role</span>
                </span>
                <!-- <span class="ml-2 flex items-center cursor-pointer" (click)="deleteNode(node)">
                    <mat-icon>delete</mat-icon>&nbsp;<span>Delete Organize</span>
                </span> -->
            </ng-container>
            <ng-template #roleIcon>
                <!-- <span class="ml-2 flex items-center cursor-pointer" (click)="deleteNode(node)">
                    <mat-icon>delete</mat-icon>            
                </span> -->
            </ng-template>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <div class="flex items-center mb-2">
            <ng-container *ngIf="node.level == 0;else roleSelect">
                <autocomplete-form class="w-160" #itemValue 
                    [label]="'organization'"    
                    [name]="'organization'"
                    [options]="organizations"
                    [standAlone]="true"
                    [requireMatch]="true">
                </autocomplete-form>
                <span class="flex items-center cursor-pointer ml-2" (click)="itemValue.form.valid && saveNode(node, itemValue.value.value)">
                    <mat-icon svgIcon="heroicons_outline:save"></mat-icon>&nbsp;<span>Save</span>
                </span>
            </ng-container>
            <ng-template #roleSelect>
                <mat-form-field>
                    <mat-select #itemValue name="role" placeholder="Role">
                        <mat-option *ngFor="let role of roles" [value]="role.value">
                            {{roleCodeNameMapper ? roleCodeNameMapper[role.title]: ''}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="flex items-center cursor-pointer ml-2" (click)="saveNode(node, itemValue.value)">
                    <mat-icon svgIcon="heroicons_outline:save"></mat-icon>&nbsp;<span>Save</span>
                </span>
            </ng-template>
            <span class="ml-2 flex items-center cursor-pointer" (click)="deleteNode(node)">
                <mat-icon>delete</mat-icon>&nbsp;<span>Delete</span>
            </span>
        </div>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button style="margin-top: 7px;" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <mat-checkbox [color]="'primary'" [checked]="checklistSelection.isSelected(node)"
            (change)="todoItemSelectionToggleOnlySelf(node)">
            {{organizeCodeNameMapper ? organizeCodeNameMapper[node.item]: ''}}
        </mat-checkbox>
        <span class="ml-2 flex items-center cursor-pointer" (click)="addNewItem(node)">
            <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>&nbsp;<span>Add Role</span>
        </span>
        <!-- <span class="ml-2 flex items-center cursor-pointer" (click)="deleteNode(node)">
            <mat-icon>delete</mat-icon>&nbsp;<span>Delete Organize</span>
        </span> -->
    </mat-tree-node>
</mat-tree>
<!-- nestedNode: {{JSON.stringify(dataSource.data)}}<br><br>
flatNode: {{JSON.stringify(treeControl.dataNodes)}}<br><br>
selection (flat): {{JSON.stringify(checklistSelection.selected)}}<br><br>
result: {{JSON.stringify(getOrganizes())}} -->

<!-- test -->
<!-- <button type="button" style="background-color: grey;" (click)="getOrganizes()">Get Output</button> -->
