<div class="flex flex-col w-80v md:w-160 max-h-80v -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-normal text-white">
            <ng-container *ngIf="!isEdit">Add  Lookup</ng-container>
            <ng-container *ngIf="isEdit">Edit Lookup</ng-container>
        </div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Body -->
    <form class="grid gap-4 grid-cols-12 p-6 sm:p-8 overflow-y-auto items-center" [formGroup]="lookupForm">

        <div class="col-span-4 font-medium">Type<span class="text-warn">*</span></div>
        <div class="col-span-8 flex items-center">
            <mat-form-field class="flex-auto">
                <mat-select [formControlName]="'lookupType'" placeholder="Type">
                    <mat-option *ngFor="let type of types" [value]="type.value">{{type.title}}
                    </mat-option>
                </mat-select>
                <mat-error>Type is required</mat-error>
            </mat-form-field>
        </div>

        <div class="col-span-4 font-medium">Code<span class="text-warn">*</span></div>
        <div class="col-span-8 flex items-center">
            <mat-form-field class="flex-auto">
                <input matInput [formControlName]="'lookupCode'">
                <div class="copy-fields-toggles" matSuffix></div>
                <mat-error>Code is required</mat-error>
            </mat-form-field>
        </div>

        <div class="col-span-4 font-medium">Description<span class="text-warn">*</span></div>
        <div class="col-span-8 flex items-center">
            <mat-form-field class="flex-auto">
                <input matInput [formControlName]="'lookupDescription'">
                <div class="copy-fields-toggles" matSuffix></div>
                <mat-error>Description is required</mat-error>
            </mat-form-field>
        </div>

        <div class="col-span-4 font-medium">Sequence<span class="text-warn">*</span></div>
        <div class="col-span-8 flex items-center">
            <mat-form-field class="flex-auto">
                <input matInput [formControlName]="'lookupSequence'">
                <div class="copy-fields-toggles" matSuffix></div>
                <mat-error>Sequence is required</mat-error>
            </mat-form-field>
        </div>

        <ng-container>
            <div class="col-span-4 font-medium">Status<span class="text-warn">*</span></div>
            <div class="col-span-8 flex items-center">
                <mat-form-field class="flex-auto">
                    <mat-select [formControlName]="'isActive'" placeholder="Status">
                        <mat-option *ngFor="let isActive of isActives" [value]="isActive.value">{{isActive.title}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Status is required</mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <!-- Alert -->
        <fuse-alert class="col-span-12" *ngIf="isShowError()" [appearance]="'outline'" [showIcon]="false"
            [type]="alert.type" [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>

        <!-- Actions -->
        <div class="col-span-12 flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <div class="flex-none flex items-center cursor-pointer" (click)="close()">
                <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>&nbsp;<span>Cancel</span>
            </div>
            <div class="flex-none sm:ml-2 flex items-center cursor-pointer" (click)="saveAndClose()">
                <mat-icon svgIcon="heroicons_outline:check-circle"></mat-icon>&nbsp;<span>OK</span>
            </div>
        </div>
    </form>
</div>