<div class="absolute inset-0 overflow-hidden flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Admin</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <a class="cursor-pointer" (click)="back()">
                            <span class="ml-1 text-secondary cursor-pointer text-primary-500">User Master Management</span>
                        </a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary">Details</span>
                    </div>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <div class="text-3xl font-normal text-primary tracking-tight leading-8">
                    User Master Management Details
                </div>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 self-end">
            <div (click)="back()" class="cursor-pointer flex items-center">
                <mat-icon svgIcon="heroicons_outline:arrow-circle-left"></mat-icon>
                &nbsp;<span>ย้อนกลับ</span>
            </div>
            <div (click)="save()" class="cursor-pointer flex items-center ml-3">
                <mat-icon svgIcon="heroicons_outline:save"></mat-icon>&nbsp;<span>บันทึก</span>
            </div>
        </div> 
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 overflow-y-auto">
        <div class="flex-auto">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon [svgIcon]="'heroicons_outline:information-circle'"></mat-icon>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- CONTENT GOES HERE -->
                    <form #f="ngForm">
                        <div class="grid gap-x-4 md:gap-x-12 gap-y-4 grid-cols-12 mb-4 items-center" style="color: rgb(30, 41, 59)">
                            <div class="col-span-6 sm:col-span-3 font-medium">Username<span class="text-warn">*</span></div>
                            <div class="col-span-6 sm:col-span-3 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <input matInput [(ngModel)]="username" name="username" [disabled]="isEdit" required>
                                    <div class="copy-fields-toggles" matSuffix></div>
                                    <mat-error>Username is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Group<span class="text-warn">*</span></div>
                            <div class="col-span-6 sm:col-span-3 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <mat-select [(ngModel)]="selectedUserGroup" name="userGroup" placeholder="Group" required [disabled]="!(currentUser.groupId === 1) && isEdit && [1, 2].includes(selectedUserGroup)">
                                        <mat-option *ngFor="let userGroup of userGroups" [value]="userGroup.value">
                                            {{userGroup.title}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>Group is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Full Name<span class="text-warn">*</span></div>
                            <div class="col-span-6 sm:col-span-3 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <input matInput [(ngModel)]="name" name="name" required>
                                    <div class="copy-fields-toggles" matSuffix></div>
                                    <mat-error>Name is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Status<span class="text-warn">*</span></div>
                            <div class="col-span-6 sm:col-span-3 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <mat-select [(ngModel)]="selectedIsActive" name="isActive" placeholder="Status" required>
                                        <mat-option *ngFor="let isActive of isActives" [value]="isActive.value">
                                            {{isActive.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-span-6 sm:col-span-3 sm:col-start-1 font-medium">Email<span class="text-warn">*</span></div>
                            <div class="col-span-6 sm:col-span-3 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <input matInput [(ngModel)]="email" name="email" required>
                                    <div class="copy-fields-toggles" matSuffix></div>
                                    <mat-error>Email is required</mat-error>
                                </mat-form-field>
                            </div>
                            <fuse-alert class="col-span-12 sm:col-start-1" *ngIf="isShowError()" [appearance]="'outline'" [showIcon]="false"
                                [type]="alert.type" [@shake]="alert.type === 'error'">
                                {{alert.message}}
                            </fuse-alert>
                        </div>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
    
            <div class="mt-6 xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded overflow-hidden p-6">
                <org-role-tree [organizeNodes]="organizes"></org-role-tree>
            </div>
        </div>
    </div>
</div>