table {
    width: 100%;
    table-layout: fixed;
}

.mat-header-cell,
.mat-cell {
    border-bottom-color: white !important;
}

.mat-header-cell {
    color: white !important
}

th.mat-header-cell,
td.mat-cell {
    text-align: center;
    padding: 0 !important;
}

/* color */
.mat-header-row {
    background-color: rgb(23, 78, 136) !important;
}

.mat-row {
    background-color: rgb(187, 211, 236) !important;
}

/* column width */
.mat-column-planNo {
    width: 4%;
}

.mat-column-planName {
    width: 30%;
}

.mat-column-planActual {
    width: 22%;
}

.mat-column-planResource {
    width: 22%;
}

.mat-column-planOwner {
    width: 22%;
}