<div class="flex flex-col w-80v md:w-160 max-h-80v -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium text-white">
            <span *ngIf="!isEdit">เพิ่มเป้าหมายย่อย</span>
            <span *ngIf="isEdit">แก้ไขเป้าหมายย่อย</span>
        </div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="subTargetForm">

        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>ลำดับที่</mat-label>
            <input matInput [formControlName]="'priority'">
            <div class="copy-fields-toggles" matSuffix></div>
            <mat-error>ลำดับที่ is required</mat-error>
        </mat-form-field>

        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>ประเภทการวัดผล</mat-label>
            <mat-select [formControlName]="'measureType'">
                <mat-option *ngFor="let measureType of measureTypes" [value]="measureType.value">{{measureType.title}}</mat-option>
            </mat-select>
            <mat-error>ประเภทการวัดผล is required</mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-textarea flex-auto">
            <mat-label>หัวข้อเป้าหมายย่อย</mat-label>
            <textarea matInput [formControlName]="'targetDetailDescription'" [rows]="3" matTextareaAutosize></textarea>
            <mat-error>หัวข้อเป้าหมายย่อย is required</mat-error>
        </mat-form-field>

        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>ดัชนี</mat-label>
            <input matInput [formControlName]="'targetIndex'">
            <div class="copy-fields-toggles" matSuffix></div>
            <mat-error>ดัชนี is required</mat-error>
        </mat-form-field>

        <fieldset class="mb-4">
            <legend class="font-medium">เป้าหมาย</legend>
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>ค่าแสดงเป้าหมาย</mat-label>
                <input matInput [formControlName]="'targetValue'">
                <div class="copy-fields-toggles" matSuffix></div>
                <mat-error>ค่าแสดงเป้าหมาย is required</mat-error>
            </mat-form-field>
            <div class="flex flex-row flex-auto gt-xs:pr-3 gap-4 items-center mb-4">
                <mat-radio-group [formControlName]="'targetCondition'">
                    <mat-radio-button value="1">
                        แบบเดี่ยว
                    </mat-radio-button>
                    <mat-radio-button class="ml-2" value="2">
                        แบบช่วง
                    </mat-radio-button>
                </mat-radio-group>
                <button *ngIf="subTargetForm.get('targetCondition').value === '2'" type="button" mat-icon-button (click)="addCondition()">
                    <mat-icon class="text-current" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div>
            
            <div [formArrayName]="'conditions'">
                <div [formGroupName]="i" *ngFor="let condition of subTargetForm.get('conditions')['controls']; let i = index"
                    class="flex flex-row flex-auto gt-xs:pr-3 gap-4"
                >
                    <ng-container *ngIf="!condition.get('markForDelete').value 
                        && (condition.get('targetCondition').value === subTargetForm.get('targetCondition').value)">
                        <mat-form-field class="flex-auto">
                            <mat-select [formControlName]="'targetOperator'">
                                <mat-option *ngFor="let symbol of symbols" [value]="symbol.value">{{symbol.title}}</mat-option>
                            </mat-select>
                            <mat-error>Target Operator is required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="flex-auto">
                            <input matInput [formControlName]="'targetValue'" appIntegerOnly>
                            <div class="copy-fields-toggles" matSuffix></div>
                            <mat-error>Target Value is required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="flex-auto">
                            <mat-select [formControlName]="'resultColor'">
                                <mat-option *ngFor="let resultColor of resultColors" [value]="resultColor.value">{{resultColor.title}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Result Color is required</mat-error>
                        </mat-form-field>
                        <button *ngIf="subTargetForm.get('targetCondition').value === '2'" 
                            type="button" class="mt-1" mat-icon-button (click)="removeCondition(i)">
                            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:minus'"></mat-icon>
                        </button>
                    </ng-container>
                </div>
            </div>
        </fieldset>

        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>หน่วย</mat-label>
            <input matInput [formControlName]="'targetUnit'">
            <div class="copy-fields-toggles" matSuffix></div>
            <mat-error>หน่วย is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>ค่าปัจจุบัน</mat-label>
            <input matInput [formControlName]="'currentTarget'">
            <div class="copy-fields-toggles" matSuffix></div>
            <mat-error>ค่าปัจจุบัน is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>ข้อมูลอ้างอิง</mat-label>
            <input matInput [formControlName]="'targetReferenceValue'">
            <div class="copy-fields-toggles" matSuffix></div>
            <!-- <mat-error>ข้อมูลอ้างอิง is required</mat-error> -->
        </mat-form-field>

        <!-- <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>เริ่ม</mat-label>
            <mat-select [formControlName]="'startYear'">
                <mat-option *ngFor="let startYear of startYears" [value]="startYear.value">{{startYear.title}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-select [formControlName]="'startMonth'">
                <mat-option *ngFor="let startMonth of startMonths" [value]="startMonth.value">{{startMonth.title}}</mat-option>
            </mat-select>
        </mat-form-field> -->
        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>เริ่ม</mat-label>
            <input
                matInput
                [matDatepicker]="startDatepicker"
                datePickerFormat="MMM YYYY"
                [formControlName]="'startDate'"
                [placeholder]="'เริ่ม'">
            <mat-datepicker-toggle
                matSuffix
                [for]="startDatepicker">
            </mat-datepicker-toggle>
            <mat-datepicker
                #startDatepicker
                startView="multi-year"
                (yearSelected)="chosenYearHandler($event, subTargetForm.get('startDate'))"
                (monthSelected)="chosenMonthHandler($event, startDatepicker, subTargetForm.get('startDate'))"
            >
            </mat-datepicker>
            <mat-error>เริ่ม is required</mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>เสร็จ</mat-label>
            <mat-select [formControlName]="'finishYear'">
                <mat-option *ngFor="let finishYear of finishYears" [value]="finishYear.value">{{finishYear.title}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-select [formControlName]="'finishMonth'">
                <mat-option *ngFor="let finishMonth of finishMonths" [value]="finishMonth.value">{{finishMonth.title}}</mat-option>
            </mat-select>
        </mat-form-field> -->
        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>เสร็จ</mat-label>
            <input
                matInput
                [matDatepicker]="finishDatepicker"
                datePickerFormat="MMM YYYY"
                [formControlName]="'finishDate'"
                [placeholder]="'เสร็จ'"
                >
            <mat-datepicker-toggle
                matSuffix
                [for]="finishDatepicker">
            </mat-datepicker-toggle>
            <mat-datepicker 
                #finishDatepicker
                startView="multi-year"
                (yearSelected)="chosenYearHandler($event, subTargetForm.get('finishDate'))"
                (monthSelected)="chosenMonthHandler($event, finishDatepicker, subTargetForm.get('finishDate'))"    
            ></mat-datepicker>
            <mat-error>เสร็จ is required</mat-error>
        </mat-form-field>

        <mat-checkbox class="mb-4" [formControlName]="'isCritical'">Critical KPI</mat-checkbox>

        <!-- Alert -->
        <fuse-alert class="col-span-12" *ngIf="isShowError()" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <div class="flex-none flex items-center cursor-pointer"
                (click)="saveAndClose()">
                <mat-icon svgIcon="heroicons_outline:check-circle"></mat-icon>&nbsp;<span>ตกลง</span>
            </div>
            <div class="flex-none sm:ml-2 flex items-center cursor-pointer"
                (click)="close()">
                <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>&nbsp;<span>ยกเลิก</span>
            </div>
        </div>
    </form>
</div>
