$base-color: rgb(23, 78, 136);
$base-dark-color: #0b2642;

.bg-primary {
    background-color: $base-color !important;
}

.text-on-primary {
    color: $base-dark-color !important;
}

:host ::ng-deep .mat-input-element {
    caret-color: $base-color !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-appearance-fill.mat-focused:not(.mat-form-field-invalid) .mat-form-field-wrapper .mat-form-field-flex {
    border-color: $base-color !important;
}

:host ::ng-deep .mat-form-field {
    &.mat-focused {
      &.mat-primary .mat-select-arrow {
        color: $base-color !important;
      }
    }
}

.tag-box {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 24px;
    border-radius: 150px;
    padding: 0 16px;
    border-width: 1px;
    --tw-border-opacity: 1 !important;
    border-color: rgb(203 213 225 / var(--tw-border-opacity))!important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))!important;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)!important;
}

.year-month-table {
    border-collapse: unset !important;
    border: 1px rgb(203 213 225) solid;
    overflow: hidden;
    width: 100%;
    border-spacing: 0;
    border-radius: 15px;
    margin: 1em 0;
}

.row-1 {
    padding: 10px;
    border-bottom: 1px rgb(203 213 225) solid;
}

.row-2 {
    padding: 10px;
}

:host ::ng-deep .plan-year .mat-form-field-wrapper {
    margin-bottom: 0 !important;
}

.month-box {
    padding-left: 10%;
    flex-basis: calc(33.333333% - 4px) !important;
}

:host ::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-background {
    background-color: $base-color !important;
}

:host ::ng-deep .mat-ripple-element {
    background-color: $base-color !important;
}