:host ::ng-deep .mat-form-field-wrapper {
    margin-bottom: 0 !important;
}

$base-color: rgb(132, 189, 0);
$base-dark-color: #476402;

.bg-primary {
    background-color: $base-color !important;
}

.text-on-primary {
    color: $base-dark-color !important;
}

:host ::ng-deep .mat-input-element {
    caret-color: $base-color !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-appearance-fill.mat-focused:not(.mat-form-field-invalid) .mat-form-field-wrapper .mat-form-field-flex {
    border-color: $base-color !important;
}

:host ::ng-deep .mat-form-field {
    &.mat-focused {
      &.mat-primary .mat-select-arrow {
        color: $base-color !important;
      }
    }
}

.rotate-90 {
    transform: rotate(90deg);
}