table {
  width: 100%;
  table-layout: fixed;
  min-width: 800px;
}

.mat-header-cell,
.mat-cell {
  border-bottom-color: white !important;
}

.mat-header-cell {
  color: white !important;
}

tr.expand-row {
  height: 0;
}

tr.normal-row td {
  border-bottom-width: 0;
}

.expand-element {
  overflow: hidden;
  display: flex;
}

/* color */
p.table-title {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: 10px;
  background-color: rgb(97, 138, 2);
  color: white !important;
}

.mat-header-row {
  background-color: rgb(132, 189, 0) !important;
}

.mat-row {
  background-color: rgb(218, 235, 180) !important;
}

/* column width */
.mat-column-expandIcon {
  width: 7.5%;
}

.mat-column-targetId {
  width: 10%;
}

.mat-column-name {
  width: 47.5%;
}

.mat-column-standard {
  width: 15%;
}

.mat-column-relativeTarget {
  width: 10%;
}

.mat-column-editIcon {
  width: 5%;
}

.mat-column-deleteIcon {
  width: 5%;
}

::ng-deep .hide-header {
    display: none;
}

ng-select.required:after, form-control.required:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

@media only screen and (max-width: 768px) {
    .mat-table {
      overflow-x: scroll;
    }
    .mat-row,
    .mat-header-row {
      min-width: 800px;
    }
}
