<div 
    [ngClass]="{ 
        'target-table' : title === 'เป้าหมายหลัก', 
        'sub-target-table' : title === 'เป้าหมายย่อย',
        'method-table': title === 'วิธีการดำเนินงาน/แผนการดำเนินงาน'}"
    [class.sub-row]="title"
>
    <p class="table-title flex flex-row justify-between cursor-pointer">
        <span>{{ title }}</span>
        <span *ngIf="renderTemplate === 'target'" class="flex items-center" (click)="addTarget.next(true);">
            <mat-icon style="color:white" svgIcon="heroicons_outline:plus"></mat-icon>เพิ่มเป้าหมายหลัก
        </span>
        <span *ngIf="renderTemplate === 'subTarget'" class="flex items-center" (click)="addSubTarget.next(true);">            
            <mat-icon style="color:white" svgIcon="heroicons_outline:plus"></mat-icon>เพิ่มเป้าหมายย่อย
        </span>
        <span *ngIf="renderTemplate === 'mainMethod'" class="flex items-center" (click)="addMainMethod.next(true);">
            <mat-icon style="color:white" svgIcon="heroicons_outline:plus"></mat-icon>เพิ่มวิธีการดำเนินงาน
        </span>
        <span *ngIf="renderTemplate === 'plan'" class="flex items-center" (click)="addPlan.next(true);">
            <mat-icon style="color:white" svgIcon="heroicons_outline:plus"></mat-icon>เพิ่ม Plan
        </span>
        <span *ngIf="renderTemplate === 'method'" class="flex items-center" (click)="addMethod.next(true);">
            <mat-icon style="color:white" svgIcon="heroicons_outline:plus"></mat-icon>เพิ่มรายละเอียด
        </span>
    </p>
    <mat-table [dataSource]="dataSource" multiTemplateDataRows>

        <!-- COLUMNS AND ROWS-->
        <ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
            <mat-header-cell *matHeaderCellDef>{{ key.includes('Icon') ? '' : keyToColumnName[key] }}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = dataIndex">
                <span *ngIf="!key.includes('Icon') && !key.includes('mainMethodDetail')">{{ element.data[key] }}</span>
                <ng-container *ngIf="key.includes('Icon')">
                    <mat-icon *ngIf="key === 'expandIcon'"
                        [class.active]="checkExpanded(element)"
                        (click)="pushPopElement(element)">play_arrow</mat-icon>
                    
                    <!-- editIcon -->
                    <mat-icon *ngIf="renderTemplate === 'target' && key === 'editIcon'" (click)="editTarget.next(i);" svgIcon="heroicons_outline:pencil" class="w-3.5 min-w-3.5 cursor-pointer" title="แก้ไขหมายหลัก"></mat-icon>
                    <mat-icon *ngIf="renderTemplate === 'subTarget' && key === 'editIcon'" (click)="editSubTarget.next(i);" svgIcon="heroicons_outline:pencil" class="w-3.5 min-w-3.5 cursor-pointer" title="แก้ไขเป้าหมายย่อย"></mat-icon>
                    <mat-icon *ngIf="renderTemplate === 'plan' && key === 'editIcon'" (click)="editPlan.next(i);" svgIcon="heroicons_outline:pencil" class="w-3.5 min-w-3.5 cursor-pointer" title="แก้ไขแผนงาน"></mat-icon>
                    <mat-icon *ngIf="renderTemplate === 'method' && key === 'editIcon'" (click)="editMethod.next(i);" svgIcon="heroicons_outline:pencil" class="w-3.5 min-w-3.5 cursor-pointer" title="แก้ไขรายละเอียด"></mat-icon>

                    <!-- deleteIcon -->
                    <mat-icon *ngIf="renderTemplate === 'target' && key === 'deleteIcon'" (click)="deleteTarget.next(i);" svgIcon="heroicons_outline:x" class="w-5 min-w-5 cursor-pointer" title="ลบเป้าหมายหลัก"></mat-icon>
                    <mat-icon *ngIf="renderTemplate === 'subTarget' && key === 'deleteIcon'" (click)="deleteSubTarget.next(i);" svgIcon="heroicons_outline:x" class="w-5 min-w-5 cursor-pointer" title="ลบเป้าหมายย่อย"></mat-icon>
                    <mat-icon *ngIf="renderTemplate === 'mainMethod' && key === 'deleteIcon'" (click)="deleteMainMethod.next(i);" svgIcon="heroicons_outline:x" class="w-5 min-w-5 cursor-pointer" title="ลบวิธีการดำเนินงาน"></mat-icon>
                    <mat-icon *ngIf="renderTemplate === 'plan' && key === 'deleteIcon'" (click)="deletePlan.next(i);" svgIcon="heroicons_outline:x" class="w-5 min-w-5 cursor-pointer" title="ลบแผนงาน"></mat-icon>
                    <mat-icon *ngIf="renderTemplate === 'method' && key === 'deleteIcon'" (click)="deleteMethod.next(i);" svgIcon="heroicons_outline:x" class="w-5 min-w-5 cursor-pointer" title="ลบรายละเอียด"></mat-icon>
                </ng-container>
                <ng-container *ngIf="key.includes('mainMethodDetail')">
                    <div class="flex flex-col w-full">
                        <app-plan-table class="border-x border-x-white" [plans]="element.kids.planRecords"></app-plan-table>
                        <app-method-table class="border-x border-x-white" [methods]="element.kids.methodRecords"></app-method-table>    
                    </div>
                </ng-container>
            </mat-cell>
        </ng-container>

        <!-- EXPANDABLE ROW -->
        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let element"
                [@expandableRow]="checkExpanded(element) ? 'expanded' : 'collapsed'">
                <div class="w-full" [ngSwitch]="renderTemplate">
                    <app-sub-target-table *ngSwitchCase="'target'" 
                        [runningNo]="runningNo" 
                        [targetId]="element.data['targetId']" 
                        [subTargets]="element.kids.records"
                    >
                    </app-sub-target-table>
                    <app-main-method-table *ngSwitchCase="'subTarget'" 
                        [mainMethods]="element.kids.records">
                    </app-main-method-table>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row [ngClass]="{ 'hide-header' : renderTemplate === 'mainMethod' }" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <mat-row class="expandable-row" *matRowDef="let row; columns: ['expandedDetail'];">
        </mat-row>
    </mat-table>
</div>