.sub-row {
    border: 0; 
    margin: 0;
    
    p {
        font-size: 12px;
        font-weight: bold;
        border-bottom: 1px solid white;
        padding: 10px;
        background-color: rgb(97, 138, 2);
        color: white;
    }
}

.mat-header-row,
.mat-row {
    border-bottom-color: white;
}

/* color */
.mat-header-row {
  background-color: rgb(132, 189, 0);
}

.mat-row {
  background-color: rgb(218, 235, 180);
}

.mat-header-cell {
  color: white !important;
}

/* column width */
.mat-column-expandIcon {
  flex-basis: 5%;
}

.mat-column-targetId {
  flex-basis: 10%;
}

.mat-column-name {
  flex-basis: 50%;
}

.mat-column-standard {
  flex-basis: 15%;
}

.mat-column-relativeTarget {
  flex-basis: 10%;
}

.mat-column-editIcon {
  flex-basis: 5%;
}

.mat-column-deleteIcon {
  flex-basis: 5%;
}

::ng-deep .hide-header {
    display: none;
}

ng-select.required:after, form-control.required:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

@media only screen and (max-width: 768px) {
    .mat-table {
        overflow-x: scroll;
    }
    .mat-row,
    .mat-header-row {
        min-width: 800px;
    }
}


