table {
    width: 100%;
    table-layout: fixed;
    min-width: 800px;
}

.mat-header-cell,
.mat-cell {
    border-bottom-color: white !important;
}

.mat-header-cell {
    color: white !important
}

:host ::ng-deep .mat-sort-header-arrow {
    color: white !important;
}

// mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
//     padding-left: 12px;
// }

/* color */
.mat-header-row {
    background-color: rgb(132, 189, 0) !important; // important because replace by sticky
}

.mat-row {
    background-color: rgb(229, 240, 203) !important;
}

/* column width */
.mat-column-index {
    width: 10%;
}

.mat-column-organizeName {
    width: 16%;
}

.mat-column-businessUnit {
    width: 16%;
}

.mat-column-subBusinessUnit {
    width: 16%;
}

.mat-column-plant {
    width: 16%;
}

.mat-column-division {
    width: 16%;
}

.mat-column-chooseIcon {
    width: 10%;
}

@media only screen and (max-width: 768px) {
    .mat-table {
        overflow-x: scroll;
    }
    .mat-row,
    .mat-header-row {
        min-width: 800px;
    }
}
