table {
    width: 100%;
    table-layout: fixed;
}

th.mat-header-cell,
td.mat-cell {
    text-align: center;
    padding: 0 !important;
}

.mat-header-cell,
.mat-cell {
    border-bottom-color: white !important;
}

td {
    vertical-align: top !important;
}

td.header-text {
    vertical-align: middle !important;
    background-color: rgb(23, 78, 136) !important;
    color: white !important;
    font-size: 12px;
    font-weight: 600;
}

td.mat-cell.padding-left {
    padding-left: 24px !important;
}

th.mat-header-cell:not(:first-child):not(:last-child),
td.mat-cell:not(:first-child):not(:last-child) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

tr a.text-month {
    color: blue;
    text-decoration: underline;
}

mat-checkbox {
    display: block;
    margin-top: 0.125rem;
}

.bg-dark-green {
    background-color: rgb(55, 126, 34);
}

:host ::ng-deep .mat-checkbox .mat-checkbox-layout .mat-checkbox-inner-container {
    margin: 0px;
    background-color: rgb(203, 213, 225);
}

.hide {
    display: none
}

.header-row {
    height: 20px !important;
}

.result-row {
    height: 65px !important;
}

/* table color */
:host ::ng-deep thead > tr {
    background-color: rgb(23, 78, 136) !important;
}

:host ::ng-deep tbody > tr {
    background-color: rgb(187, 211, 236) !important;
}

:host ::ng-deep thead > tr > th.mat-header-cell {
    color: white !important;
}

/* column width */
.mat-column-methodName {
    width: 26%;
}

.mat-column-owner {
    width: 6%;
}

.mat-column-year {
    width: 8%;
}

.mat-column-targetHeader,
.mat-column-resultHeader {
    width: 60%;
}

.mat-column-jan,
.mat-column-feb,
.mat-column-mar,
.mat-column-apr,
.mat-column-may,
.mat-column-jun,
.mat-column-jul,
.mat-column-aug,
.mat-column-sep,
.mat-column-oct,
.mat-column-nov,
.mat-column-dec {
    width: 5%;
}

:host ::ng-deep .year-select .mat-form-field-wrapper {
    padding: 4px 1px 0 1px !important;
    font-size: 12px !important;
}

:host ::ng-deep .year-select .mat-form-field-flex {
    min-height: 40px !important;
    padding: 0 8px 0 4px !important;
}