:host ::ng-deep {
    .mat-column-methodId {
        flex-basis: 5% !important;
    }

    .mat-column-methodName {
        flex-basis: 12.5% !important;
    }

    .mat-column-year {
        flex-basis: 12.5% !important;
    }

    .mat-column-jan {
        flex-basis: 5% !important;
    }

    .mat-column-feb {
        flex-basis: 5% !important;
    }

    .mat-column-mar {
        flex-basis: 5% !important;
    }

    .mat-column-apr {
        flex-basis: 5% !important;
    }

    .mat-column-may {
        flex-basis: 5% !important;
    }

    .mat-column-jun {
        flex-basis: 5% !important;
    }

    .mat-column-jul {
        flex-basis: 5% !important;
    }

    .mat-column-aug {
        flex-basis: 5% !important;
    }

    .mat-column-sep {
        flex-basis: 5% !important;
    }

    .mat-column-oct {
        flex-basis: 5% !important;
    }

    .mat-column-nov {
        flex-basis: 5% !important;
    }

    .mat-column-dec {
        flex-basis: 5% !important;
    }

    .mat-column-owner {
        flex-basis: 5% !important;
    }

    .mat-column-editIcon {
        flex-basis: 2.5% !important;
    }
    
    .mat-column-deleteIcon {
        flex-basis: 2.5% !important;
    }
}