/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./table.scss";

* {
    font-family: 'Prompt', sans-serif;
}

// target column width set
.mat-column-expandIcon { // common
    flex-basis: 5%;
}

.mat-column-targetId {
    flex-basis: 10%;
}

.mat-column-name {
    flex-basis: 50%;
}

.mat-column-standard {
    flex-basis: 15%;
}

.mat-column-relativeTarget {
    flex-basis: 10%;
}

.mat-column-editIcon { // common
    flex-basis: 2.5%;
}

.mat-column-deleteIcon { // common
    flex-basis: 2.5%;
}

// sub target column width set
.mat-column-subTargetId {
    flex-basis: 5%;
}

.mat-column-subTargetName {
    flex-basis: 15%;
}

.mat-column-index {
    flex-basis: 10%;
}

.mat-column-value {
    flex-basis: 10%;
}

.mat-column-unit {
    flex-basis: 10%;
}

.mat-column-currentValue {
    flex-basis: 10%;
}

.mat-column-startMonth {
    flex-basis: 7.5%;
}

.mat-column-startYear {
    flex-basis: 7.5%;
}

.mat-column-finishMonth {
    flex-basis: 7.5%;
}

.mat-column-finishYear {
    flex-basis: 7.5%;
}

// method column width set
.mat-column-methodId {
    flex-basis: 7.5%;
}
.mat-column-methodName {
    flex-basis: 22.5%;
}

.mat-column-jan {
    flex-basis: 5%;
}

.mat-column-feb {
    flex-basis: 5%;
}

.mat-column-mar {
    flex-basis: 5%;
}

.mat-column-apr {
    flex-basis: 5%;
}

.mat-column-may {
    flex-basis: 5%;
}

.mat-column-jun {
    flex-basis: 5%;
}

.mat-column-jul {
    flex-basis: 5%;
}

.mat-column-aug {
    flex-basis: 5%;
}

.mat-column-sep {
    flex-basis: 5%;
}

.mat-column-oct {
    flex-basis: 5%;
}

.mat-column-nov {
    flex-basis: 5%;
}

.mat-column-dec {
    flex-basis: 5%;
}

.mat-column-owner {
    flex-basis: 5%;
}

// my-target column 
.my-target-table .mat-column-runningNo {
    flex-basis: 20%;
}

.mat-column-revisionNo {
    flex-basis: 10%;
}

.mat-column-modifyNo {
    flex-basis: 10%;
}

.mat-column-runningNo {
    flex-basis: 10%;
}

.mat-column-createDate {
    flex-basis: 10%;
}

.mat-column-issuedDate {
    flex-basis: 10%;
}

.mat-column-year {
    flex-basis: 7.5%;
}

.mat-column-status {
    flex-basis: 7.5%;
}

.mat-column-creator {
    flex-basis: 10%;
}

.mat-column-detail {
    flex-basis: 5%;
}

// main method columns
.mat-column-mainMethodId {
    flex-basis: 10%;
}

.mat-column-mainMethodDetail {
    flex-basis: 87.5%;
}

// main plan columns
.mat-column-planName {
    flex-basis: 19%;
}
.mat-column-planActual {
    flex-basis: 38%;
}
.mat-column-planResource {
    flex-basis: 19%;
}
.mat-column-planOwner {
    flex-basis: 19%;
}

// fix selected value in option panel color conflict
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #1e293b !important;
}