/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./table.scss";

* {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
}

// fix selected value in option panel color conflict
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #1e293b !important;
}

.mat-paginator .mat-paginator-container {
    padding: 0 16px !important;
}
  
.mat-paginator .mat-paginator-container .mat-paginator-page-size {
    margin: 4px 8px !important;
}
  
.mat-paginator .mat-paginator-container .mat-paginator-range-actions {
    margin: 4px 0 !important;
}

.success-snackbar {
    background-color: #84bd00 !important;
    color: white !important;
}

.error-snackbar {
    background-color: #dc2626 !important;
    color: white !important;
}

td {
    height: 100%; word-wrap: break-word; // fix word exceed column width
}

.hidden {
    display: none;
}

fieldset {
    border: 1px solid rgb(203 213 225)!important;
    border-radius: 6px;
    padding: 12px !important;
}

.mat-menu-panel {
    max-width: 400px !important;
}

th.mat-header-cell, div.mat-sort-header-content {
    font-weight: 400;
}

th.mat-header-cell {
    font-size: 14px;
}

table:not(.year-month-table) tr:not(.mat-header-row):hover {
    background-color: #d6e2ba !important;
}

img.excel-icon {
    margin: 5px;
    width: 25px !important;
}
