.mat-table {
  .mat-icon { 
    position: relative;
    cursor: pointer;

    /* expanded arrow */
    &.active {
      transform: rotate(90deg);
      margin-left: -8px;
    }
  }
}


.mat-table .mat-icon {
  &.arrow-icon {
    margin-left: -3px;
  }
  &.active {
    &.arrow-icon {
      margin-left: -11px;
    }
  }
}
