<div class="absolute inset-0 overflow-hidden flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">
                            <ng-container *ngIf="currentUser?.groupId === 1">Super Admin</ng-container>
                            <ng-container *ngIf="currentUser?.groupId !== 1">Admin</ng-container>
                        </a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary">Organization</span>
                    </div>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <div class="text-3xl font-normal text-primary tracking-tight leading-8">
                    Organization
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 overflow-y-auto">
        <div class="flex-auto">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- CONTENT GOES HERE -->
                    <form>
                        <div class="grid gap-x-4 md:gap-x-12 gap-y-4 grid-cols-12 mb-4 items-center"
                            style="color: rgb(30, 41, 59)">
                            <div class="col-span-6 sm:col-span-3 font-medium">Organize Code</div>
                            <div class="col-span-6 sm:col-span-3 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <input [(ngModel)]="organizeCode" name="organizeCode" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Organize Name</div>
                            <div class="col-span-6 sm:col-span-3 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <input [(ngModel)]="organizeName" name="organizeName" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Business Unit</div>
                            <div class="col-span-6 sm:col-span-3">
                                <autocomplete label="Business Unit" name="bu" [options]="bus" [(value)]="selectedBu" (valueChange)="buChange($event)" [requireMatch]="false"></autocomplete>
                            </div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Sub Business Unit</div>
                            <div class="col-span-6 sm:col-span-3">
                                <autocomplete label="Sub Business Unit" name="subBu" [options]="subBus" [(value)]="selectedSubBu" (valueChange)="subBuChange($event)" [requireMatch]="false"></autocomplete>
                            </div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Plant</div>
                            <div class="col-span-6 sm:col-span-3">
                                <autocomplete label="Plant" name="plant" [options]="plants" [(value)]="selectedPlant" [requireMatch]="false"></autocomplete>
                            </div>
                            
                            <div class="col-span-6 sm:col-span-3 font-medium">Division</div>
                            <div class="col-span-6 sm:col-span-3">
                                <autocomplete label="Division" name="division" [options]="divisions" [(value)]="selectedDivision" [requireMatch]="false"></autocomplete>
                            </div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Status</div>
                            <div class="col-span-6 sm:col-span-3 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <mat-select [(ngModel)]="selectedIsActive" name="isActive">
                                        <mat-option *ngFor="let isActive of isActives" [value]="isActive.value">
                                            {{isActive.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div
                            class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                            <div class="flex-none" (click)="search()">
                                <a class="flex items-center cursor-pointer">
                                    <mat-icon svgIcon="heroicons_outline:search-circle"></mat-icon>
                                    &nbsp;<span>Search</span>
                                </a>
                            </div>
                            <div class="flex-none ml-2" (click)="clear()">
                                <a class="flex items-center cursor-pointer">
                                    <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>&nbsp;<span>Clear</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="mt-6 xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded overflow-hidden">
                <div class="example-table-container">
                    <p *ngIf="currentUser?.groupId === 1" class="table-title flex flex-row justify-end cursor-pointer">
                        <!-- <span>Organization</span> -->
                        <span class="flex items-center" (click)="addOrganization()">
                            <!-- <mat-icon style="color:white" svgIcon="heroicons_outline:plus"></mat-icon>Organization -->
                            <mat-icon style="color:white" svgIcon="heroicons_outline:plus"></mat-icon>Add New
                        </span>
                    </p>
                    <div class="overflow-x-auto">
                        <table mat-table #organizationTable [dataSource]="dataSource"
                            class="my-target-table mat-elevation-z8" style="width:100%" matSort>
                            <ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
                                <ng-container *ngIf="notSortColumn.includes(key)">
                                    <th mat-header-cell *matHeaderCellDef
                                        [ngClass]="{ 'text-center' : key == 'editDeleteIcon' }">{{ keyToColumnName[key]
                                        }}</th>
                                </ng-container>
                                <ng-container *ngIf="!notSortColumn.includes(key)">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ keyToColumnName[key] }}
                                    </th>
                                </ng-container>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <ng-container *ngIf="key == 'index'">{{ (paginator.pageIndex * paginator.pageSize) +
                                        (i + 1) }}</ng-container>
                                    <ng-container *ngIf="key == 'isActive'">{{ element[key] | isActive }}</ng-container>
                                    <ng-container *ngIf="key == 'editDeleteIcon'">
                                        <div class="flex items-center justify-center">
                                            <mat-icon (click)="editOrganization(element)" svgIcon="heroicons_solid:pencil" class="text-primary-500 icon-size-4 cursor-pointer" title="Edit Organization"></mat-icon>
                                            <mat-icon *ngIf="false" (click)="deleteOrganization(element)" svgIcon="heroicons_outline:x"
                                                class="text-warn icon-size-4 cursor-pointer ml-[8px]" title="Delete Organization"></mat-icon>
                                        </div>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="key != 'index' && key != 'isActive' && key != 'editDeleteIcon'">{{
                                        element[key] }}</ng-container>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator #pagination [pageSize]="defaultPageSize" [pageSizeOptions]="[5, 10, 20, 50, 100, 200]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>