:host ::ng-deep  {
    .dropdown-list {
        overflow: hidden;
    }

    .multiselect-dropdown .dropdown-btn .selected-item {
        background: #bf5f80;
        border: 2px solid #bf5f80;
    }

    .multiselect-item-checkbox input[type=checkbox]+div:before {
        color: #bf5f80;
        border: 2px solid #bf5f80;
    }

    .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
        background: #bf5f80;
    }
}