table {
    width: 100%;
}

th.mat-header-cell,
td.mat-cell {
    text-align: center;
    // border: 1px solid rgb(100, 116, 139);
    padding: 0 !important;
}

td.mat-cell.padding-left {
    padding-left: 24px !important;
}

th.mat-header-cell:not(:first-child):not(:last-child),
td.mat-cell:not(:first-child):not(:last-child) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

// th.mat-header-cell:first-child {
//     border-right-color: white;
// }

// th.mat-header-cell:last-child {
//     border-left-color: white;
// }

.mat-header-cell,
.mat-cell {
    border-bottom-color: white !important;
}

// td.mat-cell,
// :host ::ng-deep thead > tr:last-child > th.mat-header-cell,
// th.mat-header-cell[rowspan="2"] {
//     // border-bottom-color: rgb(100, 116, 139) !important;
//     border-bottom-color: white !important;
// }

tr.example-detail-row {
    height: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

// .example-element-row td {
//     border-bottom-width: 0;
// }

.hide-header {
    display: none;
}

/* table color */
:host ::ng-deep .target-entry > thead > tr {
    background-color: rgb(132, 189, 0) !important;
}

:host ::ng-deep .target-entry > tbody > tr {
    background-color: rgb(218, 235, 180) !important;
}

:host ::ng-deep .sub-target-entry > tbody > tr {
    background-color: rgb(219, 215, 177) !important;
}

// :host ::ng-deep .plan-entry > tbody > tr {
//     background-color: rgb(187, 211, 236) !important;
// }

:host ::ng-deep .target-entry > thead > tr > th.mat-header-cell {
    color: white !important;
}


/* column width */
.mat-column-expandIconSpanned,
.mat-column-expandIcon {
    width: 5%;
}

.mat-column-targetDetailSpanned {
    width: 18%;
}

.mat-column-owner,
.mat-column-ownerSpanned {
    width: 6%;
}

.mat-column-blank,
.mat-column-blankSpanned {
    width: 6%;
}

.mat-column-year {
    width: 10%;
}

.mat-column-jan,
.mat-column-feb,
.mat-column-mar,
.mat-column-apr,
.mat-column-may,
.mat-column-jun,
.mat-column-jul,
.mat-column-aug,
.mat-column-sep,
.mat-column-oct,
.mat-column-nov,
.mat-column-dec {
    width: 5%;
}

// tr {
//     height: fit-content !important;
//     vertical-align: top !important;
// }

/* status box */
.status-box {
    display: inline-block;
    width: 21px;
    height: 21px;
    text-align: center;
    border: 1px solid;
}

.box-grey {
    background-color: rgb(211,211,211);
}

.box-green {
    background-color: rgb(166,233,153);
}

.box-red {
    background-color: rgb(233,108,102);
}

.box-yellow {
    background-color: rgb(255,253,83);
}

.box-pink {
    background-color: rgb(246, 195, 202);
}

.box-blue {
    background-color: rgb(4, 37, 236);
}

.box-orange {
    background-color: rgb(242, 168, 59);
}

.box-green {
    background-color: rgb(55, 126, 34);
}

.flex-notice-col {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.notice-col-1,
.notice-col-2,
.notice-col-3,
.notice-col-4,
.notice-col-5,
.notice-col-6 {
    flex-basis: 0;
}

.notice-col-1 {
    margin-bottom: 6px;
}

/* to ensure word is fit in column width */
:host * {
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

@media only screen and (min-width: 900px) {
    .flex-notice-col {
        flex-direction: row;
    }

    .notice-col-1 {
        flex-basis: 110px;
        margin-bottom: 0px;
    }
    
    .notice-col-2 {
        flex-basis: 100px;
    }
    
    .notice-col-3 {
        flex-basis: 130px;
    }
    
    .notice-col-4 {
        flex-basis: 150px;
    }
    
    .notice-col-5 {
        flex-basis: 150px;
    }
    
    .notice-col-6 {
        flex-basis: 100px;
    }
}