/* status box */
.status-box {
    display: inline-block;
    width: 21px;
    height: 21px;
    text-align: center;
    border: 1px solid;
}

.box-grey {
    background-color: rgb(211,211,211);
}

.box-green {
    background-color: rgb(166,233,153);
}

.box-red {
    background-color: rgb(233,108,102);
}

.box-yellow {
    background-color: rgb(255,253,83);
}

.box-pink {
    background-color: rgb(246, 195, 202);
}

.box-blue {
    background-color: rgb(4, 37, 236);
}

.box-orange {
    background-color: rgb(242, 168, 59);
}

.box-green {
    background-color: rgb(55, 126, 34);
}

.flex-notice-col {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.notice-col-1,
.notice-col-2,
.notice-col-3,
.notice-col-4,
.notice-col-5,
.notice-col-6 {
    flex-basis: 0;
}

.notice-col-1 {
    margin-bottom: 6px;
}

/* to ensure word is fit in column width */
:host * {
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

@media only screen and (min-width: 900px) {
    .flex-notice-col {
        flex-direction: row;
    }

    .notice-col-1 {
        flex-basis: 110px;
        margin-bottom: 0px;
    }
    
    .notice-col-2 {
        flex-basis: 100px;
    }
    
    .notice-col-3 {
        flex-basis: 130px;
    }
    
    .notice-col-4 {
        flex-basis: 150px;
    }
    
    .notice-col-5 {
        flex-basis: 150px;
    }
    
    .notice-col-6 {
        flex-basis: 100px;
    }
}