table {
    width: 100%;
    table-layout: fixed;
}

.mat-header-cell,
.mat-cell {
    border-bottom-color: white !important;
}

.mat-header-cell {
    color: white !important
}

th.mat-header-cell,
td.mat-cell {
    text-align: center;
    padding: 0 !important;
}

td.header-text {
    vertical-align: middle !important;
    background-color: rgb(23, 78, 136) !important;
    color: white !important;
    font-size: 12px;
    font-weight: 600;
}

td.mat-cell.padding-left {
    padding-left: 24px !important;
}

th.mat-header-cell:not(:first-child):not(:last-child),
td.mat-cell:not(:first-child):not(:last-child) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

tr span.text-month {
    color: black;
    font-weight: 300;
}

mat-checkbox {
    display: block;
    margin-top: 0.125rem;
}

.bg-dark-green {
    background-color: rgb(55, 126, 34);
}

:host ::ng-deep .mat-checkbox .mat-checkbox-layout .mat-checkbox-inner-container {
    margin: 0px;
    background-color: rgb(203, 213, 225);
}

.header-row {
    height: 20px !important;
}

/* table color */
.mat-header-row  {
    background-color: rgb(23, 78, 136) !important;
}

.mat-row {
    background-color: rgb(187, 211, 236) !important;
}

table tr:not(.mat-header-row):hover {
    background-color: #99b5d3 !important;
}

/* column width */
.mat-column-planDescription {
    width: 26%;
}

.mat-column-undertaker {
    width: 6%;
}

.mat-column-planYear {
    width: 8%;
}

.mat-column-jan,
.mat-column-feb,
.mat-column-mar,
.mat-column-apr,
.mat-column-may,
.mat-column-jun,
.mat-column-jul,
.mat-column-aug,
.mat-column-sep,
.mat-column-oct,
.mat-column-nov,
.mat-column-dec {
    width: 5%;
}

:host ::ng-deep .year-select .mat-form-field-wrapper {
    padding: 4px 1px 0 1px !important;
    font-size: 12px !important;
}

:host ::ng-deep .year-select .mat-form-field-flex {
    min-height: 40px !important;
    padding: 0 8px 0 4px !important;
}

.bg-accept {
    background-color: rgb(55, 126, 34) !important;
}

.bg-reject {
    background-color: rgb(233,108,102) !important;
}

.bg-status-default {
    background-color: rgb(211,211,211);
}
.bg-reporting {
    background-color: rgb(255,253,83) !important;
}
.bg-wait-for-verify {
    background-color: rgb(246, 195, 202) !important;
}
.bg-wait-for-approve{
    background-color: rgb(4, 37, 236) !important;
}
.bg-wait-for-release{
    background-color: rgb(242, 168, 59) !important;
}
.bg-released{
    background-color: rgb(55, 126, 34) !important;
}

.bg-archive {
    background-color: rgb(55, 126, 34) !important;
}

.bg-unarchive-red {
    background-color: rgb(233,108,102) !important;
}

.bg-unarchive-yellow {
    background-color: rgb(255,253,83) !important;
}

.result-column {
    height: inherit;
}

:host ::ng-deep .select-checkbox label.mat-checkbox-layout {
    vertical-align: top;
    span.mat-checkbox-inner-container {
        width: 12px;
        height: 12px;
        span.mat-checkbox-frame {
            border-width: 1.2px;
        }
    }

    
}

.target-actual-value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

tr.mat-row {
    height: 23px;
}