.thumbnail {
    max-height: 200px;
    width: auto;
    // max-width: 300px;
    border-radius: 5px;
}

.upload-button {
    border-radius: 9999px;
    background: #84bd00;
}

.upload-text {
    font-size: 14px;
    font-weight: 400 !important;
}