
table {
  width: 100%;
  table-layout: fixed;
}

.mat-header-cell,
.mat-cell {
  border-bottom-color: white !important;
}

.mat-header-cell {
  color: white !important;
}

tr.expand-row {
  height: 0;
}

tr.normal-row td {
  border-bottom-width: 0;
}

.expand-element {
  overflow: hidden;
  display: flex;
}

tr:last-child td {
  border-bottom-width: 0;
}

/* color */
p.table-title {
  span {
        font-weight: 400;
    }
  border-bottom: 1px solid white;
  padding: 10px;
  background-color: rgb(119, 112, 36);
  color: white !important;
}

p.table-title.topic-plan-title {
  background-color: rgb(15, 55, 97);
}

.mat-header-row {
  background-color: rgb(137, 129, 61) !important;
}

.mat-row {
  background-color: rgb(219, 215, 177) !important;
}

table tr:not(.mat-header-row):hover {
  background-color: #beb988 !important;
}

/* column width */
.mat-column-expandIcon {
  width: 5%;
}

.mat-column-priority {
  width: 5%;
}

.mat-column-targetDetailDescription {
  width: 15%;
}

.mat-column-targetIndex {
  width: 10%;
}

.mat-column-targetValue {
  width: 10%;
}

.mat-column-targetUnit {
  width: 10%;
}

.mat-column-currentTarget {
  width: 10%;
}

.mat-column-startMonth {
  width: 7.5%;
}

.mat-column-startYear {
  width: 7.5%;
}

.mat-column-finishMonth {
  width: 7.5%;
}

.mat-column-finishYear {
  width: 7.5%;
}

.mat-column-editIcon {
  width: 2.5%;
}

.mat-column-deleteIcon {
  width: 2.5%;
}