<div class="absolute inset-0 overflow-hidden flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">ข้อมูลเป้าหมาย</a>
                    </div>
                    <ng-container *ngIf="mode === 'edit';else newTargetLabelBc">
                        <div class="flex items-center ml-1 whitespace-nowrap">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <a (click)="goBack()" class="cursor-pointer">
                                <span class="ml-1 text-secondary">ข้อมูลเป้าหมายของฉัน</span>
                            </a>
                        </div>
                        <div class="flex items-center ml-1 whitespace-nowrap">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <span class="ml-1 text-secondary">{{ document ? document.documentNo : '' }}</span>
                        </div>
                    </ng-container>
                    <ng-template #newTargetLabelBc>
                        <div class="flex items-center ml-1 whitespace-nowrap">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <a (click)="goBack()" class="cursor-pointer">
                                <span class="ml-1 text-secondary">สร้างเป้าหมายใหม่</span>
                            </a>
                        </div>
                        <div class="flex items-center ml-1 whitespace-nowrap">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <span class="ml-1 text-secondary">{{ document ? document.organizeCode : '' }}</span>
                        </div>
                    </ng-template>
                </div>
                <div class="flex sm:hidden">
                    <!-- <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'..'"> -->
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                        </mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <ng-container *ngIf="mode === 'edit';else newTargetLabel">ข้อมูลเป้าหมายของฉัน {{ document ? document.documentNo : '' }}
                    </ng-container>
                    <ng-template #newTargetLabel>สร้างเป้าหมายใหม่ {{ document ? document.organizeCode : '' }}</ng-template>
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <a (click)="goBack()" class="flex items-center cursor-pointer">
                <mat-icon svgIcon="heroicons_outline:arrow-circle-left"></mat-icon>
                &nbsp;<span>Back</span>
            </a>
            <a *ngIf="mode === 'add'" (click)="save()" class="flex items-center cursor-pointer ml-3">
                <mat-icon svgIcon="heroicons_outline:check-circle"></mat-icon>&nbsp;<span>Submit</span>
            </a>
        </div> 
    </div>

    <!-- Main -->
    <div class="flex flex-col flex-auto p-6 overflow-y-auto">
        <!-- CONTENT GOES HERE -->
        <div class="flex-auto">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon [svgIcon]="'heroicons_outline:information-circle'"></mat-icon>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
        
                    <form #f="ngForm">
                        <div class="grid gap-x-4 md:gap-x-12 gap-y-4 grid-cols-12 mb-4 items-center" style="color: rgb(30, 41, 59)">
                            <div class="col-span-6 sm:col-span-3 font-medium">ประเภทเป้าหมาย</div>
                            <ng-container *ngIf="mode === 'edit';else documentTypeSelect">
                                <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? document.documentTypeDescription :
                                    '-'}}</span></div>
                            </ng-container>
                            <ng-template #documentTypeSelect>
                                <div class="col-span-6 sm:col-span-3 flex items-center">
                                    :
                                    <mat-form-field class="flex-auto ml-2">
                                        <mat-select [(ngModel)]="selectedDocumentType" name="documentType" placeholder="กรุณาเลือก" required>
                                            <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.value">
                                                {{documentType.title}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-template>
                            <div class="col-span-6 sm:col-span-3 font-medium">Running No.</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? document.documentNo : ''}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">BU</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? document.businessUnit : ''}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Status</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? document.documentStatusDescription : ''}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Sub-BU</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? document.subBusinessUnit : ''}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Revision No.</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? document.revisionNo : ''}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Plant</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? document.plant : ''}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Modify No.</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? document.modifyNo : ''}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Division/Department</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? document.division : ''}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Date Create</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? (document.documentDate | date : 'dd/MM/YYYY') : ''}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Year</div>
                            <ng-container *ngIf="mode === 'edit';else yearSelect">
                                <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? document.documentYear : ''}}</span></div>
                            </ng-container>
                            <ng-template #yearSelect>
                                <div class="col-span-6 sm:col-span-3 flex items-center">
                                    :
                                    <mat-form-field class="flex-auto ml-2">
                                        <mat-select [(ngModel)]="selectedYear" name="year" required>
                                            <mat-option *ngFor="let year of years" [value]="year.value">
                                                {{year.title}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-template>
                            <div class="col-span-6 sm:col-span-3 font-medium">Date Due</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? (document.dueDate | date : 'dd/MM/YYYY')  : ''}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Creator</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{document ? document.userHolder : ''}}</span></div>
                            <fuse-alert class="col-span-12 sm:col-start-1" *ngIf="isShowError()" [appearance]="'outline'" [showIcon]="false"
                                [type]="alert.type" [@shake]="alert.type === 'error'">
                                {{alert.message}}
                            </fuse-alert>
                        </div>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
    
            <!-- <div class="mt-6 flex flex-row flex-auto">
                <button
                    class="m-2"
                    mat-raised-button
                    (click)="expandAll()"
                    >
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-double-down'"></mat-icon>
                    <span class="ml-2">Expand All</span>
                </button>
                <button
                    class="m-2"
                    mat-raised-button
                    (click)="collapseAll()"
                    >
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-double-up'"></mat-icon>
                    <span class="ml-2">Collapse All</span>
                </button>
            </div> -->

            <div class="mt-6 xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded overflow-hidden">
                <app-target-table
                    [runningNo]="runningNo?.runningNo" 
                    [targets]="targets"
                >
                </app-target-table>
            </div>
        </div>
    </div>
</div>