.example-action-buttons {
    padding-bottom: 20px;
  }
  
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
    // margin-left: 8px;
}

.example-table-container {
  // max-height: 350px;
  overflow: auto;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 24px !important;
}

table {
  width: 100%;
  table-layout: fixed;
  min-width: 800px;
}

.mat-header-cell,
.mat-cell {
  border-bottom-color: white !important;
}

.mat-header-cell {
  color: white !important
}

::ng-deep .mat-sort-header-arrow {
  color: white !important;
}

/* color */
.mat-header-row {
  background-color: rgb(132, 189, 0) !important; // important because replace by sticky
}

.mat-row {
  background-color: rgb(229, 240, 203) !important;
}

/* column width */
.mat-column-runningNo {
  width: 40%;
}

.mat-column-revisionNo {
  width: 30%;
}

.mat-column-issuedDate {
  width: 17.5%;
}

.mat-column-year {
  width: 7.5%;
}

.mat-column-detail {
  width: 5%;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin-bottom: 0 !important;
}
