:host ::ng-deep {
  /* color */
  .sub-row p {
    background-color: rgb(119, 112, 36) !important;
    color: white !important;
  }

  .mat-header-row {
    background-color: rgb(137, 129, 61) !important;
  }

  .mat-row {
    background-color: rgb(219, 215, 177) !important;
  }

  .mat-header-cell {
    color: white !important;
  }

  /* column width */
  .mat-column-expandIcon {
    flex-basis: 5% !important;
  }

  .mat-column-subTargetId {
    flex-basis: 5% !important;
  }

  .mat-column-subTargetName {
    flex-basis: 15% !important;
  }

  .mat-column-index {
    flex-basis: 10% !important;
  }

  .mat-column-symbolValue {
    flex-basis: 10% !important;
  }

  .mat-column-unit {
    flex-basis: 10% !important;
  }

  .mat-column-currentValue {
    flex-basis: 10% !important;
  }

  .mat-column-startMonth {
    flex-basis: 7.5% !important;
  }

  .mat-column-startYear {
    flex-basis: 7.5% !important;
  }

  .mat-column-finishMonth {
    flex-basis: 7.5% !important;
  }

  .mat-column-finishYear {
    flex-basis: 7.5% !important;
  }

  .mat-column-editIcon {
    flex-basis: 2.5% !important;
  }

  .mat-column-deleteIcon {
    flex-basis: 2.5%;
  }
}