<app-target-table [dataSource]="subTargets"
               [displayedColumns]="displayedColumns"
               [referenceId]="'subTargetId'"
               [title]="'เป้าหมายย่อย'"
               [renderTemplate]="'method'"
               [runningNo]="runningNo"
               [targetId]="targetId"
               (refreshTable)="refreshMainTable()"
               (addSubTarget)="addSubTarget()"
               (editSubTarget)="editSubTarget($event)"
               (deleteSubTarget)="deleteSubTarget($event)"
               #subTargetTable
               >
</app-target-table>