:host ::ng-deep .mat-form-field-wrapper {
    margin-bottom: 0 !important;
}

$base-color: rgb(132, 189, 0);
$base-dark-color: #476402;

.bg-primary {
    background-color: $base-color !important;
}

.text-on-primary {
    color: $base-dark-color !important;
}

:host ::ng-deep .mat-input-element {
    caret-color: $base-color !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-appearance-fill.mat-focused:not(.mat-form-field-invalid) .mat-form-field-wrapper .mat-form-field-flex {
    border-color: $base-color !important;
}

:host ::ng-deep .mat-form-field {
    &.mat-focused {
      &.mat-primary .mat-select-arrow {
        color: $base-color !important;
      }
    }
}

.tag-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    border-radius: 6px;
    padding: 0 16px;
    border-width: 1px;
    --tw-border-opacity: 1 !important;
    border-color: rgb(203 213 225 / var(--tw-border-opacity))!important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))!important;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)!important;
}