.example-action-buttons {
    padding-bottom: 20px;
  }
  
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
    // margin-left: 8px;
}

.example-table-container {
  // max-height: 350px;
  // overflow: auto;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 24px !important;
}

table {
  // width: 100%;
  table-layout: fixed;
  // min-width: 800px;
  width: max-content;
}

.mat-header-cell,
.mat-cell {
  border-bottom-color: white !important;
}

.mat-header-cell {
  color: white !important
}

::ng-deep .mat-sort-header-arrow {
  color: white !important;
}

/* color */
.mat-header-row {
  background-color: rgb(132, 189, 0) !important;
}

.mat-row {
  background-color: rgb(229, 240, 203) !important;
}

:host ::ng-deep .header-2 {
  height: 28px;
  th {
    top: 28px !important;
  }
}

/* column width */
.mat-column-checkbox {
  width: 50px;
}

.mat-column-organizeCode {
  width: 200px;
}

.mat-column-documentNo {
  width: 200px;
}

.mat-column-revisionNo {
  width: 100px;
}

.mat-column-createDate {
  width: 150px;
}

.mat-column-issueDate {
  width: 150px;
}

.mat-column-documentYear {
  width: 100px;
}

.mat-column-documentStatus {
  width: 100px;
}

.mat-column-creator {
  width: 100px;
}

.mat-column-detail {
  width: 50px;
}

$base-class: mat-column;
$months: jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec;

@each $month in $months {
  th.#{$base-class}-#{$month},
  th.#{$base-class}-#{$month}UseReport {
    border-left: 1px solid white;
  }

  .#{$base-class}-#{$month}UseReport {
    width: 100px;
    padding-left: 5px !important;
  }
  
  .#{$base-class}-#{$month}ActualValue {
    width: 100px;
  }
  
  .#{$base-class}-#{$month}ActualResult {
    width: 100px;
  }
  
  .#{$base-class}-#{$month}ActualStatus {
    width: 100px;
  }
  
  .#{$base-class}-#{$month}ReferenceNo {
    width: 150px;
  }

  .#{$base-class}-#{$month}ReferenceStatus {
    width: 150px;
  }
  
  .#{$base-class}-#{$month}CauseTopic {
    width: 200px;
  }
  
  .#{$base-class}-#{$month}SolutionType {
    width: 100px;
  }
  
  .#{$base-class}-#{$month}SolutionTopic {
    width: 200px;
  }
  
  .#{$base-class}-#{$month}SolutionDueDate {
    width: 150px;
  }
  
  .#{$base-class}-#{$month}SolutionActual {
    width: 120px;
  }

  .#{$base-class}-#{$month}SolutionActualDate {
    width: 150px;
  }
}

:host ::ng-deep .mat-form-field-wrapper {
  margin-bottom: 0 !important;
}

// radio size
:host ::ng-deep .mat-radio-container{
  height: 15px;
  width: 15px;
}
:host ::ng-deep .mat-radio-outer-circle{
  height: 15px;
  width: 15px;
}
:host ::ng-deep .mat-radio-inner-circle{
  height: 15px;
  width: 15px;
}
:host ::ng-deep .mat-radio-button .mat-radio-ripple{
  height: 30px; /*double of your required circle radius*/
  width: 30px;  /*double of your required circle radius*/
  left: calc(50% - 15px); /*'10px'-same as your required circle radius*/
  top: calc(50% - 15px); /*'10px'-same as your required circle radius*/
}

/* color */
p.table-title {
  span {
    font-weight: 400;
  }
  border-bottom: 1px solid white;
  padding: 3px 7px;
  background-color: rgb(97, 138, 2);
  color: white !important;
}


tr th:not(:first-child),
tr td:not(:first-child) { 
  padding: 0 4px; 
}

:host ::ng-deep .mat-column-checkbox label.mat-checkbox-layout {
  // vertical-align: top;
  span.mat-checkbox-inner-container {
      width: 16px;
      height: 16px;
      span.mat-checkbox-frame {
          border-width: 1.6px;
      }
  }
}