.comment {
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: unset;
}

.more-detail {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}