<div class="grid grid-cols-12 gap-3 w-full min-w-0">
    <div class="col-span-12 shadow top-header">
        <div class="text-2xl font-semibold">Quality Management Performance</div>
    </div>
    <div class="col-span-6 shadow row1">
        <div class="header-bg">% Achieve</div>
        <div class="grid grid-cols-2" style="height: calc(100% - 21px);">
            <div class="total-kpi-header">
                <div class="text-center leading-6">
                    <span class="text-2xl font-bold">Total KPI {{mockData1.totalKpi.percent}}%</span><br>
                    <span class="text-xl font-semibold">{{mockData1.totalKpi.amount}} KPI</span>
                </div>
            </div>
            <div class="critical-kpi-header">
                <div class="text-center leading-6">
                    <span class="text-2xl font-bold">Critical KPI {{mockData1.criticalKpi.percent}}%</span><br>
                    <span class="text-xl font-semibold">{{mockData1.criticalKpi.amount}} KPI</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-6 shadow row1">
        <div class="flex items-center h-full p-2">
            <div class="grid grid-cols-2 gap-2 p-1 items-center w-full" [formGroup]="form">
                <mat-form-field>
                    <mat-label>Year</mat-label>
                    <mat-select [formControlName]="'year'" placeholder="select year">
                        <mat-option *ngFor="let year of years" [value]="year.value">{{year.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Month</mat-label>
                    <mat-select [formControlName]="'month'" placeholder="select month">
                        <mat-option *ngFor="let month of months" [value]="month.value">{{month.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <multi-select-dropdown-form
                    [label]="'Business Unit'"
                    [name]="'bus'"
                    [placeholder]="'bus'"
                    [options]="bus"
                    [itemsShowLimit]="1"    
                >
                </multi-select-dropdown-form>
                <multi-select-dropdown-form
                    [label]="'Plant'"
                    [name]="'plants'"
                    [placeholder]="'plants'"
                    [options]="plants"
                    [itemsShowLimit]="1"    
                >
                </multi-select-dropdown-form>
            </div>
            <div class="flex items-center justify-center">
                <mat-icon class="cursor-pointer icon-size-7" [svgIcon]="'heroicons_solid:arrow-path'"></mat-icon>
            </div>
        </div>
    </div>
    <div class="col-span-12 shadow">
        <div class="header-bg">% Achieve & Trend Group by KPI Type</div>
        <div class="grid grid-cols-8 gap-2 p-2 w-full">
            <ng-container *ngFor="let data of mockData2">
                <div class="col-span-1 shadow">
                    <div>
                        <div class="header2-bg">{{data.name}}</div>
                        <div class="guage">
                            <apx-chart
                                [series]="data.data.guage.series"
                                [chart]="gaugeChartOptions.chart"
                                [plotOptions]="gaugeChartOptions.plotOptions"
                                [labels]="data.data.guage.labels"
                                [fill]="gaugeChartOptions.fill"
                                [stroke]="gaugeChartOptions.stroke"
                                [colors]="gaugeChartOptions.colors"
                            ></apx-chart>
                        </div>
                        <div>
                            <apx-chart
                                [series]="data.data.areachart.series"
                                [chart]="areaChartOptions.chart"
                                [xaxis]="areaChartOptions.xaxis"
                                [stroke]="areaChartOptions.stroke"
                                [dataLabels]="areaChartOptions.dataLabels"
                                [yaxis]="areaChartOptions.yaxis"
                                [labels]="areaChartOptions.labels"
                                [legend]="areaChartOptions.legend"
                                [title]="areaChartOptions.title"
                                [subtitle]="areaChartOptions.subtitle"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="col-span-6 shadow">
        <div class="header-bg">%Archieve By Month</div>
        <apx-chart
            [series]="mockData3.series"
            [chart]="barChartOptions.chart"
            [dataLabels]="barChartOptions.dataLabels"
            [plotOptions]="barChartOptions.plotOptions"
            [yaxis]="barChartOptions.yaxis"
            [legend]="barChartOptions.legend"
            [fill]="barChartOptions.fill"
            [stroke]="barChartOptions.stroke"
            [tooltip]="barChartOptions.tooltip"
            [xaxis]="barChartOptions.xaxis"
        ></apx-chart>
    </div>
    <div class="col-span-6 shadow">
        <div class="header-bg">%Archieve By BU</div>
        <apx-chart
            [series]="mockData4.series"
            [chart]="barChart2Options.chart"
            [dataLabels]="barChart2Options.dataLabels"
            [plotOptions]="barChart2Options.plotOptions"
            [xaxis]="mockData4.xaxis"
        ></apx-chart>
    </div>
</div>