<div class="grid grid-cols-12 gap-3 w-full min-w-0">
    <div class="col-span-8 shadow header-bg top-header">
        <div class="text-2xl font-semibold">Betagro Target Management System 2020</div>
    </div>
    <div class="col-span-2 shadow success-bg top-header-col">
        <div class="font-normal leading-4">% Archive</div>
        <div class="text-2xl font-medium leading-5">82.38</div>
    </div>
    <div class="col-span-2 shadow unsuccess-bg top-header-col">
        <div class="font-normal leading-4">% Unarchive</div>
        <div class="text-2xl font-medium leading-5">17.62</div>
    </div>
    <div class="col-span-3 shadow">
        <div class="flex flex-col">
            <div>
                <div class="header-bg">Business Unit</div>
                <div class="grid grid-cols-2 gap-1 py-1 px-3">
                    <div class="unit-box">Agro</div>
                    <div class="unit-box">Food</div>
                </div>
            </div>
            <div>
                <div class="header-bg">Sub Business Unit</div>
                <div class="grid grid-cols-2 gap-1 py-1 px-3">
                    <div class="unit-box">BP</div>
                    <div class="unit-box">Poultry Slauther</div>
                    <div class="unit-box">Food Processing</div>
                    <div class="unit-box">Swine Slauther</div>
                </div>
            </div>
            <div>
                <div class="header-bg">Month</div>
                <div class="grid grid-cols-2 gap-1 py-1 px-3">
                    <div class="unit-box">Select all</div>
                    <div class="unit-box">ธันวาคม</div>
                    <div class="unit-box">เมษายน</div>
                    <div class="unit-box">พฤศจิกายน</div>
                    <div class="unit-box">กรกฎาคม</div>
                    <div class="unit-box">มกราคม</div>
                    <div class="unit-box">กันยายน</div>
                    <div class="unit-box">มิถุนายน</div>
                    <div class="unit-box">กุมภาพันธ์</div>
                    <div class="unit-box">มีนาคม</div>
                    <div class="unit-box">ตุลาคม</div>
                    <div class="unit-box">สิงหาคม</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-4 shadow">
        <div class="flex flex-col gap-2">
            <div>
                <div class="header-bg">KPI by BU</div>
                <div>
                    <apx-chart
                        #pieChart
                        [series]="pieChartOptions.series"
                        [chart]="pieChartOptions.chart"
                        [labels]="pieChartOptions.labels"
                        [responsive]="pieChartOptions.responsive"
                        [colors]="pieChartOptions.colors"
                    ></apx-chart>
                </div>
            </div>
            <div>
                <div class="header-bg">KPI แยกตามประเภท</div>
                <div>
                    <apx-chart
                        [series]="radarChartOptions.series"
                        [chart]="radarChartOptions.chart"
                        [xaxis]="radarChartOptions.xaxis"
                        [colors]="radarChartOptions.colors"
                    ></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-5 shadow">
        <div class="flex flex-col gap-2">
            <div>
                <div class="header-bg">KPI แยกตามกลุ่มธุรกิจ</div>
                <div>
                    <apx-chart
                        [series]="stackBarChartOptions.series"
                        [chart]="stackBarChartOptions.chart"
                        [dataLabels]="stackBarChartOptions.dataLabels"
                        [plotOptions]="stackBarChartOptions.plotOptions"
                        [xaxis]="stackBarChartOptions.xaxis"
                        [stroke]="stackBarChartOptions.stroke"
                        [fill]="stackBarChartOptions.fill"
                        [tooltip]="stackBarChartOptions.tooltip"
                        [legend]="stackBarChartOptions.legend"
                        [colors]="stackBarChartOptions.colors"
                    ></apx-chart>
                </div>
            </div>
            <div>
                <div class="header-bg">KPI แยกตามบริษัท</div>
                <div class="flex flex-col flex-auto p-1 bg-card overflow-hidden">
                    <div class="flex flex-col flex-auto overflow-x-auto">
                        <table class="min-w-100 overflow-y-visible" mat-table
                            [dataSource]="kpiDetails.rows">
                            <ng-container matColumnDef="kpi" sticky>
                                <th mat-header-cell *matHeaderCellDef>
                                    KPI
                                </th>
                                <td mat-cell *matCellDef="let kpi">
                                    <span class="flex items-center">
                                        <span class="leading-4">{{kpi.kpi}}</span>
                                    </span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="number">
                                <th mat-header-cell *matHeaderCellDef>
                                    จำนวน KPI
                                </th>
                                <td mat-cell *matCellDef="let kpi">
                                    <span class="font-medium text-right">
                                        {{kpi.number}}
                                    </span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="result">
                                <th mat-header-cell *matHeaderCellDef>
                                    ผลการดำเนินงาน KPI
                                </th>
                                <td mat-cell *matCellDef="let kpi">
                                    {{kpi.result}}
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="kpiDetails.columns"></tr>
                            <tr mat-row *matRowDef="let row; columns: kpiDetails.columns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sub Dashboard 1 -->
<div class="grid grid-cols-12 gap-3 w-full min-w-0 my-3">
    <div class="col-span-3 shadow">
        <div>
            <div class="header-bg">FOOD KPI</div>
            <div>
                <apx-chart
                    [series]="donutChartOptions.series"
                    [chart]="donutChartOptions.chart"
                    [legend]="donutChartOptions.legend"
                    [labels]="donutChartOptions.labels"
                    [responsive]="donutChartOptions.responsive"
                    [colors]="donutChartOptions.colors"
                ></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-span-9">
        <div class="grid grid-cols-12 gap-3 w-full min-w-0">
            <div class="col-span-6 barchart shadow">
                <div>
                    <div class="header-bg">% Archive FOOD KPI by plant</div>
                    <div>
                        <apx-chart
                            [series]="barChartOptions.series"
                            [chart]="barChartOptions.chart"
                            [dataLabels]="barChartOptions.dataLabels"
                            [plotOptions]="barChartOptions.plotOptions"
                            [yaxis]="barChartOptions.yaxis"
                            [legend]="barChartOptions.legend"
                            [fill]="barChartOptions.fill"
                            [stroke]="barChartOptions.stroke"
                            [tooltip]="barChartOptions.tooltip"
                            [xaxis]="barChartOptions.xaxis"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-2 sub-point-col shadow success-bg top-header-col">
                <div class="font-normal leading-4">% Archive</div>
                <div class="text-2xl font-medium leading-5">81.89</div>
            </div>
            <div class="col-span-2 sub-point-col shadow unsuccess-bg top-header-col">
                <div class="font-normal leading-4">% Unarchive</div>
                <div class="text-2xl font-medium leading-5">18.11</div>
            </div>
            <div class="col-span-2 sub-point-col shadow unsuccess-bg top-header-col">
                <div class="font-normal leading-4">%Critical Unarchived</div>
                <div class="text-2xl font-medium leading-5">0.0</div>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-3 w-full min-w-0 mt-3">
            <div class="col-span-2 gauge shadow">
                <div>
                    <div class="header-bg">%A-SHE</div>
                    <div>
                        <apx-chart
                            [series]="[92]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-2 gauge shadow">
                <div>
                    <div class="header-bg">%A-Production</div>
                    <div>
                        <apx-chart
                            [series]="[74]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-2 gauge shadow">
                <div>
                    <div class="header-bg">%A-Manpower</div>
                    <div>
                        <apx-chart
                            [series]="[78]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-2 gauge shadow">
                <div>
                    <div class="header-bg">%A-FS&FQ</div>
                    <div>
                        <apx-chart
                            [series]="[71]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-2 gauge shadow">
                <div>
                    <div class="header-bg">%A-Delivery</div>
                    <div>
                        <apx-chart
                            [series]="[68]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-2 gauge shadow">
                <div>
                    <div class="header-bg">%A-Cost&Sens</div>
                    <div>
                        <apx-chart
                            [series]="[76]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>