<div class="grid grid-cols-12 gap-3 w-full min-w-0">
    <div class="col-span-12 shadow top-header">
        <div class="text-2xl font-semibold">Quality Management Performance</div>
    </div>
    <div class="col-span-7 shadow row1">
        <div class="header-bg">% Achieve</div>
        <div class="grid grid-cols-2">
            <div class="total-kpi-header">
                <div class="text-center leading-4">
                    <span class="text-2xl font-bold">Total KPI {{mockData1.totalKpi.percent}}%</span><br>
                    <span class="text-xl font-semibold">{{mockData1.totalKpi.amount}} KPI</span>
                </div>
            </div>
            <div class="critical-kpi-header">
                <div class="text-center leading-4">
                    <span class="text-2xl font-bold">Critical KPI {{mockData1.criticalKpi.percent}}%</span><br>
                    <span class="text-xl font-semibold">{{mockData1.criticalKpi.amount}} KPI</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-5 shadow row1">
        <div class="flex items-center h-full">
            <div class="grid grid-cols-4 gap-2 p-2">
                <mat-form-field class="flex-auto">
                    <mat-label>Year</mat-label>
                    <mat-select [(ngModel)]="selectedYear" placeholder="select year">
                        <mat-option *ngFor="let year of years" [value]="year.value">{{year.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="flex-auto">
                    <mat-label>Month</mat-label>
                    <mat-select [(ngModel)]="selectedMonth" placeholder="select month">
                        <mat-option *ngFor="let month of months" [value]="month.value">{{month.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="flex-auto">
                    <mat-label>Bu</mat-label>
                    <mat-select [(ngModel)]="selectedBu" placeholder="select bu">
                        <mat-option *ngFor="let bu of bus" [value]="bu.value">{{bu.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="flex-auto">
                    <mat-label>Plant</mat-label>
                    <mat-select [(ngModel)]="selectedPlant" placeholder="select plant">
                        <mat-option *ngFor="let plant of plants" [value]="plant.value">{{plant.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-span-12 shadow">
        <div class="header-bg">% Achieve & Trend Group by KPI Type</div>
        <div class="grid grid-cols-8 gap-2 p-2 w-full">
            <ng-container *ngFor="let data of mockData2">
                <div class="col-span-1 shadow">
                    <div>
                        <div class="header2-bg">{{data.name}}</div>
                        <div class="guage">
                            <apx-chart
                                [series]="data.data.guage.series"
                                [chart]="gaugeChartOptions.chart"
                                [plotOptions]="gaugeChartOptions.plotOptions"
                                [labels]="data.data.guage.labels"
                                [fill]="gaugeChartOptions.fill"
                                [stroke]="gaugeChartOptions.stroke"
                                [colors]="gaugeChartOptions.colors"
                            ></apx-chart>
                        </div>
                        <div>
                            <apx-chart
                                [series]="data.data.areachart.series"
                                [chart]="areaChartOptions.chart"
                                [xaxis]="areaChartOptions.xaxis"
                                [stroke]="areaChartOptions.stroke"
                                [dataLabels]="areaChartOptions.dataLabels"
                                [yaxis]="areaChartOptions.yaxis"
                                [labels]="areaChartOptions.labels"
                                [legend]="areaChartOptions.legend"
                                [title]="areaChartOptions.title"
                                [subtitle]="areaChartOptions.subtitle"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- <div class="col-span-1 shadow">
                <div>
                    <div class="header2-bg">%A-SHE</div>
                    <div class="guage">
                        <apx-chart
                            [series]="[92]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                    <div>
                        <apx-chart
                            [series]="areaChartOptions.series"
                            [chart]="areaChartOptions.chart"
                            [xaxis]="areaChartOptions.xaxis"
                            [stroke]="areaChartOptions.stroke"
                            [dataLabels]="areaChartOptions.dataLabels"
                            [yaxis]="areaChartOptions.yaxis"
                            [labels]="areaChartOptions.labels"
                            [legend]="areaChartOptions.legend"
                            [title]="areaChartOptions.title"
                            [subtitle]="areaChartOptions.subtitle"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-1 shadow">
                <div>
                    <div class="header2-bg">%A-SHE</div>
                    <div class="guage">
                        <apx-chart
                            [series]="[92]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                    <div>
                        <apx-chart
                            [series]="areaChartOptions.series"
                            [chart]="areaChartOptions.chart"
                            [xaxis]="areaChartOptions.xaxis"
                            [stroke]="areaChartOptions.stroke"
                            [dataLabels]="areaChartOptions.dataLabels"
                            [yaxis]="areaChartOptions.yaxis"
                            [labels]="areaChartOptions.labels"
                            [legend]="areaChartOptions.legend"
                            [title]="areaChartOptions.title"
                            [subtitle]="areaChartOptions.subtitle"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-1 shadow">
                <div>
                    <div class="header2-bg">%A-SHE</div>
                    <div class="guage">
                        <apx-chart
                            [series]="[92]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                    <div>
                        <apx-chart
                            [series]="areaChartOptions.series"
                            [chart]="areaChartOptions.chart"
                            [xaxis]="areaChartOptions.xaxis"
                            [stroke]="areaChartOptions.stroke"
                            [dataLabels]="areaChartOptions.dataLabels"
                            [yaxis]="areaChartOptions.yaxis"
                            [labels]="areaChartOptions.labels"
                            [legend]="areaChartOptions.legend"
                            [title]="areaChartOptions.title"
                            [subtitle]="areaChartOptions.subtitle"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-1 shadow">
                <div>
                    <div class="header2-bg">%A-SHE</div>
                    <div class="guage">
                        <apx-chart
                            [series]="[92]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                    <div>
                        <apx-chart
                            [series]="areaChartOptions.series"
                            [chart]="areaChartOptions.chart"
                            [xaxis]="areaChartOptions.xaxis"
                            [stroke]="areaChartOptions.stroke"
                            [dataLabels]="areaChartOptions.dataLabels"
                            [yaxis]="areaChartOptions.yaxis"
                            [labels]="areaChartOptions.labels"
                            [legend]="areaChartOptions.legend"
                            [title]="areaChartOptions.title"
                            [subtitle]="areaChartOptions.subtitle"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-1 shadow">
                <div>
                    <div class="header2-bg">%A-SHE</div>
                    <div class="guage">
                        <apx-chart
                            [series]="[92]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                    <div>
                        <apx-chart
                            [series]="areaChartOptions.series"
                            [chart]="areaChartOptions.chart"
                            [xaxis]="areaChartOptions.xaxis"
                            [stroke]="areaChartOptions.stroke"
                            [dataLabels]="areaChartOptions.dataLabels"
                            [yaxis]="areaChartOptions.yaxis"
                            [labels]="areaChartOptions.labels"
                            [legend]="areaChartOptions.legend"
                            [title]="areaChartOptions.title"
                            [subtitle]="areaChartOptions.subtitle"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-1 shadow">
                <div>
                    <div class="header2-bg">%A-SHE</div>
                    <div class="guage">
                        <apx-chart
                            [series]="[92]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                    <div>
                        <apx-chart
                            [series]="areaChartOptions.series"
                            [chart]="areaChartOptions.chart"
                            [xaxis]="areaChartOptions.xaxis"
                            [stroke]="areaChartOptions.stroke"
                            [dataLabels]="areaChartOptions.dataLabels"
                            [yaxis]="areaChartOptions.yaxis"
                            [labels]="areaChartOptions.labels"
                            [legend]="areaChartOptions.legend"
                            [title]="areaChartOptions.title"
                            [subtitle]="areaChartOptions.subtitle"
                        ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-span-1 shadow">
                <div>
                    <div class="header2-bg">%A-SHE</div>
                    <div class="guage">
                        <apx-chart
                            [series]="[92]"
                            [chart]="gaugeChartOptions.chart"
                            [plotOptions]="gaugeChartOptions.plotOptions"
                            [labels]="gaugeChartOptions.labels"
                            [fill]="gaugeChartOptions.fill"
                            [stroke]="gaugeChartOptions.stroke"
                            [colors]="gaugeChartOptions.colors"
                        ></apx-chart>
                    </div>
                    <div>
                        <apx-chart
                            [series]="areaChartOptions.series"
                            [chart]="areaChartOptions.chart"
                            [xaxis]="areaChartOptions.xaxis"
                            [stroke]="areaChartOptions.stroke"
                            [dataLabels]="areaChartOptions.dataLabels"
                            [yaxis]="areaChartOptions.yaxis"
                            [labels]="areaChartOptions.labels"
                            [legend]="areaChartOptions.legend"
                            [title]="areaChartOptions.title"
                            [subtitle]="areaChartOptions.subtitle"
                        ></apx-chart>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="col-span-6 shadow">
        <div class="header-bg">%Archieve By Month</div>
        <apx-chart
            [series]="mockData3.series"
            [chart]="barChartOptions.chart"
            [dataLabels]="barChartOptions.dataLabels"
            [plotOptions]="barChartOptions.plotOptions"
            [yaxis]="barChartOptions.yaxis"
            [legend]="barChartOptions.legend"
            [fill]="barChartOptions.fill"
            [stroke]="barChartOptions.stroke"
            [tooltip]="barChartOptions.tooltip"
            [xaxis]="barChartOptions.xaxis"
        ></apx-chart>
    </div>
    <div class="col-span-6 shadow">
        <div class="header-bg">%Archieve By BU</div>
        <apx-chart
            [series]="mockData4.series"
            [chart]="barChart2Options.chart"
            [dataLabels]="barChart2Options.dataLabels"
            [plotOptions]="barChart2Options.plotOptions"
            [xaxis]="mockData4.xaxis"
        ></apx-chart>
    </div>
</div>