$header-color: rgb(197, 224, 181);
$header2-color: rgb(68, 123, 102);
$total-kpi-color: rgb(146, 208, 81);
$critical-kpi-color: rgb(6, 176, 80);

.top-header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bg {
  background-color: $header-color;
  font-weight: 400;
  text-align: center;
}

.header2-bg {
  background-color: $header2-color;
  color: white;
  font-weight: 400;
  text-align: center;
}

// mat-form-field
:host ::ng-deep .mat-form-field-wrapper {
  margin-bottom: 0px !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
  min-height: 24px !important;
}

.total-kpi-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $total-kpi-color;
}

.critical-kpi-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $critical-kpi-color;
}

.flex-item {
  flex-basis: 183px;
  flex-grow: 1;
  min-width: 183px;
}