<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">เป้าหมายหลัก</div>
        <button
            mat-icon-button
            (click)="saveAndClose()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="composeForm">

        <!-- To -->
        <mat-form-field>
            <mat-label>ลำดับที่</mat-label>
            <input
                matInput
                [formControlName]="'Target ID'">
            <div
                class="copy-fields-toggles"
                matSuffix>
            </div>
        </mat-form-field>

        <!-- Subject -->
        <mat-form-field class="fuse-mat-textarea flex-auto">
            <mat-label>หัวข้อเป้าหมาย</mat-label>
            <textarea matInput [rows]="3" matTextareaAutosize></textarea>
        </mat-form-field>

        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>Standard</mat-label>
            <mat-select>
                <mat-option value="standard-1">Standard 1</mat-option>
                <mat-option value="standard-2">Standard 3</mat-option>
                <mat-option value="standard-3">Standard 3</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>พันธะมุ่งหมาย</mat-label>
            <mat-select>
                <mat-option value="relative-target-1">Relative Target 1</mat-option>
                <mat-option value="relative-target-2">Relative Target 2</mat-option>
                <mat-option value="relative-target-3">Relative Target 3</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <div class="flex-none flex items-center cursor-pointer"
                [mat-dialog-close]="undefined">
                <mat-icon svgIcon="heroicons_outline:check-circle"></mat-icon>&nbsp;<span>ตกลง</span>
            </div>
            <div class="flex-none ml-2 flex items-center cursor-pointer"
                (click)="saveAndClose()">
                <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>&nbsp;<span>ยกเลิก</span>
            </div>
        </div>
    </form>
</div>
