table {
    width: 100%;
}

th.mat-header-cell,
td.mat-cell {
    text-align: center;
    padding: 0 !important;
}

td.mat-cell.padding-left {
    padding-left: 24px !important;
}

th.mat-header-cell:not(:first-child):not(:last-child),
td.mat-cell:not(:first-child):not(:last-child) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.mat-header-cell,
.mat-cell {
    border-bottom-color: white !important;
}

tr.example-detail-row {
    height: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.hide-header {
    display: none;
}

/* table color */
:host ::ng-deep .target-entry > thead > tr {
    background-color: rgb(132, 189, 0) !important;
}

:host ::ng-deep .target-entry > tbody > tr {
    background-color: rgb(218, 235, 180) !important;
}

:host ::ng-deep .target-entry > thead > tr > th.mat-header-cell {
    color: white !important;
}

/* column width */
.mat-column-expandIconSpanned,
.mat-column-expandIcon {
    width: 5%;
}

.mat-column-targetDetailSpanned {
    width: 18%;
}

.mat-column-owner,
.mat-column-ownerSpanned {
    width: 6%;
}

.mat-column-blank,
.mat-column-blankSpanned {
    width: 6%;
}

.mat-column-year {
    width: 10%;
}

.mat-column-jan,
.mat-column-feb,
.mat-column-mar,
.mat-column-apr,
.mat-column-may,
.mat-column-jun,
.mat-column-jul,
.mat-column-aug,
.mat-column-sep,
.mat-column-oct,
.mat-column-nov,
.mat-column-dec {
    width: 5%;
}