<div class="flex flex-col w-80v sm:w-[500px] max-h-85v -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium text-white">สร้างเอกสารจาก template</div>
        <!-- <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon class="text-current text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button> -->
    </div>

    <!-- Body -->
    <div class="p-6 sm:p-8">
        <!-- Waiting -->
        <ng-container *ngIf="status === 'waiting'">
            <div class="flex justify-center">
                <mat-progress-spinner
                [diameter]="88"
                [mode]="'indeterminate'"
                [color]="'primary'"
                >
                </mat-progress-spinner>
            </div>
            <div class="mt-4 text-base text-center">กำลัง สร้างเอกสารจาก template...</div>
        </ng-container>

        <!-- Success -->
        <ng-container *ngIf="status === 'success'">
            <success-icon></success-icon>
            <div class="mt-4 text-base text-center">สร้างเอกสารจาก template เสร็จสมบูรณ์</div>
        </ng-container>

        <!-- Error -->
        <ng-container *ngIf="status === 'error'">
            <error-icon></error-icon>
            <mat-form-field class="w-full fuse-mat-textarea">
                <textarea class="error-text-area" matInput readonly>{{errorMessage}}</textarea>
            </mat-form-field>
        </ng-container>
        

        <!-- Actions -->
        <div *ngIf="['success', 'error'].includes(status)" class="flex flex-col sm:flex-row sm:items-center justify-end mt-4">
            <div class="flex-none flex items-center cursor-pointer"
                (click)="close()">
                <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>&nbsp;<span>ปิด</span>
            </div>
        </div>
    </div>
</div>
