<div class="absolute inset-0 overflow-hidden flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">ข้อมูลเป้าหมาย</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-primary-500" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span *ngIf="isMyTargetUrl;else newTargetLabel" class="ml-1 text-primary-500">ข้อมูลเป้าหมายของฉัน</span>
                        <ng-template #newTargetLabel>สร้างเป้าหมายใหม่</ng-template>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-primary-500" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <a (click)="goBack()" class="ml-1 text-primary-500 cursor-pointer">เอกสารเป้าหมาย</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <a class="ml-1 text-secondary">ยืนยันเปลี่ยนสถานะ</a>
                    </div>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <div style="display: flex; align-items: center;">
                        <!-- <mat-icon svgIcon="heroicons_outline:clipboard-list" class="w-10 min-w-10 mr-2"></mat-icon> -->
                        <!-- <ng-container *ngIf="targetManagementStatus === TargetManagementStatus.CONFIRM">ยืนยันการส่งตรวจทานเป้าหมายใหม่</ng-container>
                        <ng-container *ngIf="targetManagementStatus === TargetManagementStatus.REJECT">ยกเลิกการสร้างเป้าหมายใหม่</ng-container> -->
                        <ng-container>{{title ? title: ''}}</ng-container>
                    </div>
                </h2>
            </div>
        </div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 self-end">
            <a (click)="goBack()" class="flex items-center cursor-pointer">
                <mat-icon svgIcon="heroicons_outline:arrow-circle-left"></mat-icon>&nbsp;<span>Back</span>
            </a>
            <a (click)="send()" class="flex items-center cursor-pointer ml-3">
                <mat-icon svgIcon="heroicons_outline:arrow-circle-right"></mat-icon>&nbsp;
                <span>
                    <ng-container *ngIf="!document.documentStatus || document.documentStatus === 'DOCUMENT_DRAFT'; else statusOtherLabel">Send to Verify</ng-container>
                    <ng-template #statusOtherLabel>Send to Approve</ng-template>
                </span>
            </a>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 overflow-y-auto">
        <div class="flex-auto grid grid-cols-1 sm:grid-cols-2 gap-6">
            <div class="sm:col-span-2 flex flex-col flex-auto bg-card shadow rounded overflow-hidden p-6 sm:p-8">
                <!-- <div class="text-lg font-medium tracking-tight leading-6 mb-4">Please Insert Comment</div> -->
                <form #f="ngForm">
                    <div class="grid gap-2 grid-cols-12 items-center" style="color: rgb(30, 41, 59)">
                        <div class="col-span-6 sm:col-span-1 font-medium">From</div>
                        <div class="col-span-6 sm:col-span-11 sm:pl-6">:<span class="ml-2">{{from ? from : ''}}</span></div>
                        <div class="col-span-6 sm:col-span-1 font-medium">Due Date</div>
                        <div class="col-span-6 sm:col-span-11 sm:pl-6">:<span class="ml-2">{{dueDate ? (dueDate | date: 'dd/MM/YYYY'): ''}}</span></div>
                        <div class="col-span-6 sm:col-span-1 font-medium h-full align-top">Comment</div>
                        <div class="col-span-6 sm:col-span-11 sm:pl-6 flex align-top">:
                            <mat-form-field class="fuse-mat-textarea flex-auto ml-2">
                                <textarea matInput [(ngModel)]="comment" name="comment" [rows]="3" matTextareaAutosize ></textarea>
                                <!-- <mat-error>Comment is required</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="flex flex-col flex-auto bg-card shadow rounded overflow-hidden p-6 sm:p-8">
                <div class="text-lg font-medium tracking-tight leading-6 mb-4">List of Users Receive Mail</div>
                <app-receive-mail-table [receiveEmails]="receiveEmails"></app-receive-mail-table>
            </div>
            <div class="flex flex-col flex-auto bg-card shadow rounded overflow-hidden p-6 sm:p-8">
                <div class="text-lg font-medium tracking-tight leading-6 mb-4">List of Users Inform Mail</div>
                <app-inform-mail-table [informEmails]="informEmails"></app-inform-mail-table>
            </div>
            <fuse-alert class="sm:col-span-2 flex-auto" *ngIf="isShowError()" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
        </div>
    </div>
</div>
