<div class="absolute inset-0 overflow-hidden flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">
                            <ng-container *ngIf="fromUrl==='my-target'">ข้อมูลเป้าหมาย</ng-container>
                            <ng-container *ngIf="fromUrl==='target-entry'">ผลการดำเนินงานตามเป้าหมาย</ng-container>
                            <ng-container *ngIf="fromUrl==='result-info'">ผลการดำเนินงานตามเป้าหมาย</ng-container>
                        </a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary">
                            <ng-container *ngIf="fromUrl==='my-target'">ข้อมูลเป้าหมายของฉัน</ng-container>
                            <ng-container *ngIf="fromUrl==='target-entry'">บันทึกผลการดำเนินงาน</ng-container>
                            <ng-container *ngIf="fromUrl==='result-info'">ข้อมูลผลการดำเนินงาน</ng-container>
                        </span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                        </mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <div class="text-3xl font-normal text-primary tracking-tight leading-8">
                    <ng-container *ngIf="fromUrl==='my-target'">ข้อมูลเป้าหมายของฉัน</ng-container>
                    <ng-container *ngIf="fromUrl==='target-entry'">บันทึกผลการดำเนินงาน</ng-container>
                    <ng-container *ngIf="fromUrl==='result-info'">ข้อมูลผลการดำเนินงาน</ng-container>
                </div>
            </div>
        </div>
        <!-- Actions -->
    </div>

    <!-- Main -->
    <div class="flex flex-col flex-auto p-6 overflow-y-auto">
        <!-- CONTENT GOES HERE -->
        <div class="flex-auto">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- CONTENT GOES HERE -->
                    <form>
                        <div class="grid gap-x-4 sm:gap-x-8 gap-y-4 grid-cols-12 mb-4 items-center" style="color: rgb(30, 41, 59)">
                            <div class="col-span-6 sm:col-span-2 font-medium">Organize</div>
                            <div class="col-span-6 sm:col-span-4">
                                <autocomplete label="Organize" name="organize" [options]="organizes" [(value)]="selectedOrganize"></autocomplete>
                            </div>
                            <div class="col-span-6 sm:col-span-2 font-medium">Status</div>
                            <div class="col-span-6 sm:col-span-4">
                                <autocomplete label="Status" name="status" [options]="statuses" [(value)]="selectedStatus"></autocomplete>
                            </div>
                            
                            <div class="col-span-6 sm:col-span-2 font-medium">Business Unit</div>
                            <div class="col-span-6 sm:col-span-4">
                                <autocomplete label="Business Unit" name="bu" [options]="bus" [(value)]="selectedBu"></autocomplete>
                            </div>
                            <div class="col-span-6 sm:col-span-2 font-medium">Running No.</div>
                            <div class="col-span-6 sm:col-span-4 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <input [(ngModel)]="documentNo" name="documentNo" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-span-6 sm:col-span-2 font-medium">Sub Business Unit</div>
                            <div class="col-span-6 sm:col-span-4">
                                <autocomplete label="Sub Business Unit" name="subBu" [options]="subBus" [(value)]="selectedSubBu"></autocomplete>
                            </div>
                            <div class="col-span-6 sm:col-span-2 font-medium">From Document Year</div>
                            <div class="col-span-6 sm:col-span-4 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <input [(ngModel)]="documentYear" name="documentYear" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-span-6 sm:col-span-2 font-medium">Plant</div>
                            <div class="col-span-6 sm:col-span-4">
                                <autocomplete label="Plant" name="plant" [options]="plants" [(value)]="selectedPlant"></autocomplete>
                            </div>
                            <div class="col-span-6 sm:col-span-2 font-medium">To Document Year</div>
                            <div class="col-span-6 sm:col-span-4 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <input [(ngModel)]="toDocumentYear" name="toDocumentYear" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-span-6 sm:col-span-2 font-medium">Division/Department</div>
                            <div class="col-span-6 sm:col-span-4">
                                <autocomplete label="Division/Department" name="division" [options]="divisions" [(value)]="selectedDivision"></autocomplete>
                            </div>
                            <div class="col-span-6 sm:col-span-2 font-medium">Document Type</div>
                            <div class="col-span-6 sm:col-span-4">
                                <autocomplete label="Document Type" name="documentType" [options]="documentTypes" [(value)]="selectedDocumentType"></autocomplete>
                            </div>
                            <div class="col-span-6 sm:col-span-2 font-medium">Critical KPI</div>
                            <div class="col-span-6 sm:col-span-4 flex items-center">
                                :
                                <mat-checkbox class="ml-2" [color]="'primary'" [(ngModel)]="isCritical" name="isCritical"></mat-checkbox>
                            </div>
                            <div class="col-span-6 sm:col-span-2 font-medium">Target Type</div>
                            <div class="col-span-6 sm:col-span-4">
                                <autocomplete label="Target Type" name="targetType" [options]="targetTypes" [(value)]="selectedTargetType"></autocomplete>
                            </div>
                            <div class="col-span-6 sm:col-span-2 font-medium">คำค้นหา</div>
                            <div class="col-span-6 sm:col-span-10 flex items-center">
                                :
                                <mat-form-field class="flex-auto ml-2">
                                    <input [(ngModel)]="searchText" name="searchText" matInput placeholder="หัวข้อเป้าหมายหลัก/หัวข้อเป้าหมายย่อย">
                                </mat-form-field>
                            </div>
                        </div>    
                        <div
                            class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                            <div class="flex-none">
                                <a (click)="search()" class="flex items-center cursor-pointer">
                                    <mat-icon svgIcon="heroicons_outline:search-circle"></mat-icon>&nbsp;<span>Search</span>
                                </a>
                            </div>
                            <div class="flex-none ml-2">
                                <a (click)="clear()" class="flex items-center cursor-pointer">
                                    <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>&nbsp;<span>Clear</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>

            <div *ngIf="selectedRow" class="flex justify-end mt-6">
                <button mat-flat-button [color]="'primary'" class="text-white" (click)="copyDocument()">
                    <mat-icon class="icon-size-5 text-white mr-1" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    Copy
                </button>
            </div>
    
            <div class="mt-6 xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded overflow-hidden">
                <div class="example-table-container">
                    <div class="overflow-x-auto">
                        <table mat-table [dataSource]="documents" class="mat-elevation-z8"
                            style="width:100%" matSort>
                            <ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
                                <ng-container *ngIf="notSortColumn.includes(key)">
                                    <ng-container *ngIf="key !== 'radio'">
                                        <th mat-header-cell *matHeaderCellDef [ngClass]="{ 'text-center' : key == 'detail' }">{{ keyToColumnName[key] }}</th>
                                    </ng-container>
                                    <ng-container *ngIf="key === 'radio'">
                                        <th mat-header-cell *matHeaderCellDef >
                                            <mat-icon svgIcon="heroicons_outline:x-circle" class="icon-size-4.5 text-white" 
                                                style="margin-top: 5px; margin-left: -2px"
                                                title="Clear select"
                                                (click)="selectedRow = undefined"
                                            >
                                            </mat-icon>
                                        </th> 
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="!notSortColumn.includes(key)">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ keyToColumnName[key] }}</th>
                                </ng-container>
                                <td mat-cell *matCellDef="let element; let i = dataIndex">
                                    <ng-container *ngIf="key === 'radio'">
                                        <ng-container *ngIf="fromUrl === 'my-target'">
                                            <mat-radio-group [(ngModel)]="selectedRow" [color]="'primary'">
                                                <mat-radio-button [value]="element"></mat-radio-button>
                                            </mat-radio-group>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="key === 'documentNo'">
                                        <ng-container *ngIf="fromUrl==='my-target'">
                                            <a class="flex items-center" [routerLink]="'/target-info/my-target/'+element.id">
                                                {{ element[key] }}
                                            </a>
                                        </ng-container>
                                        <ng-container *ngIf="fromUrl==='target-entry'">
                                            <a class="flex items-center" [routerLink]="'/target-result/target-entry/'+element.id">
                                                {{ element[key] }}
                                            </a>
                                        </ng-container>
                                        <ng-container *ngIf="fromUrl==='result-info'">
                                            <a class="flex items-center" [routerLink]="'/target-result/result-info/'+element.id">
                                                {{ element[key] }}
                                            </a>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="key === 'createDate' || key === 'issueDate'">
                                        {{ element[key] | date : 'dd/MM/YYYY' }}
                                    </ng-container>
                                    <ng-container *ngIf="key === 'detail'">
                                        <ng-container *ngIf="fromUrl==='my-target'">
                                            <a class="flex items-center" [routerLink]="'/target-info/my-target/'+element.id">
                                                <mat-icon svgIcon="heroicons_solid:menu" class="text-primary icon-size-4 cursor-pointer"></mat-icon>
                                            </a>
                                        </ng-container>
                                        <ng-container *ngIf="fromUrl==='target-entry'">
                                            <a class="flex items-center" [routerLink]="'/target-result/target-entry/'+element.id">
                                                <mat-icon svgIcon="heroicons_solid:menu" class="text-primary icon-size-4 cursor-pointer"></mat-icon>
                                            </a>
                                        </ng-container>
                                        <ng-container *ngIf="fromUrl==='result-info'">
                                            <a class="flex items-center" [routerLink]="'/target-result/result-info/'+element.id">
                                                <mat-icon svgIcon="heroicons_solid:menu" class="text-primary icon-size-4 cursor-pointer"></mat-icon>
                                            </a>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="key !== 'documentNo' && key !== 'createDate' && key !== 'issueDate' && key !== 'detail'">{{ element[key] }}</ng-container>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator 
                        [length]="resultsLength"
                        [pageSize]="defaultPageSize"
                        [pageSizeOptions]="[5, 10, 20, 50, 100, 200]"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>