<app-target-table [dataSource]="mainMethods"
               [displayedColumns]="displayedColumns"
               [referenceId]="'mainMethodId'"
               [title]="'วิธีการดำเนินงาน/แผนการดำเนินงาน'"
               [renderTemplate]="'mainMethod'"
               [runningNo]="runningNo"
               [targetId]="targetId"
               (addMainMethod)="addMainMethod()"
               (deleteMainMethod)="deleteMainMethod($event)"
               #mainMethodTable
               >
</app-target-table>