<div class="absolute inset-0 overflow-hidden flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">ข้อมูลเป้าหมาย</a>
                    </div>
                    <ng-container *ngIf="runningNo;else newTargetLabelBc">
                        <div class="flex items-center ml-1 whitespace-nowrap">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <span class="ml-1 text-secondary">ข้อมูลเป้าหมายของฉัน</span>
                        </div>
                        <div class="flex items-center ml-1 whitespace-nowrap">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <span class="ml-1 text-secondary">{{runningNo.runningNo}}</span>
                        </div>
                    </ng-container>
                    <ng-template #newTargetLabelBc>
                        <div class="flex items-center ml-1 whitespace-nowrap">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <span class="ml-1 text-secondary">สร้างเป้าหมายใหม่</span>
                        </div>
                    </ng-template>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                        </mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <ng-container *ngIf="runningNo;else newTargetLabel">ข้อมูลเป้าหมายของฉัน {{runningNo.runningNo}}
                    </ng-container>
                    <ng-template #newTargetLabel>สร้างเป้าหมายใหม่</ng-template>
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <a href="/target-info/my-target" class="flex items-center">
                <mat-icon svgIcon="heroicons_outline:arrow-circle-left"></mat-icon>
                &nbsp;<span>Back</span>
            </a>
            <a href="#" onClick="return false;" class="flex items-center ml-3">
                <mat-icon svgIcon="heroicons_outline:check-circle"></mat-icon>&nbsp;<span>Submit</span>
            </a>
        </div> 
    </div>

    <!-- Main -->
    <div class="flex flex-col flex-auto p-6 overflow-y-auto">
        <!-- CONTENT GOES HERE -->
        <div class="flex-auto">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon [svgIcon]="'heroicons_outline:information-circle'"></mat-icon>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
        
                    <form>
                        <div class="grid gap-4 grid-cols-12 mb-4 items-center" style="color: rgb(30, 41, 59)">
                            <div class="col-span-6 sm:col-span-3 font-medium">Target Type</div>
                            <ng-container *ngIf="runningNo;else targetTypeSelect">
                                <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{runningNo ? runningNo.targetType :
                                    '-'}}</span></div>
                            </ng-container>
                            <ng-template #targetTypeSelect>
                                <div class="col-span-6 sm:col-span-3 flex items-center">
                                    :
                                    <mat-form-field class="flex-auto ml-2">
                                        <mat-select [(ngModel)]="selectedTargetType" name="targetType">
                                            <mat-option *ngFor="let targetType of targetTypes" [value]="targetType.value">
                                                {{targetType.title}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-template>
                            <div class="col-span-6 sm:col-span-3 font-medium">Running No.</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{runningNo ? runningNo.runningNo : '-'}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Site</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{runningNo ? runningNo.site :
                                'สำนักงานนอร์ธปาร์ค'}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Status</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{runningNo ? runningNo.status : 'New'}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Division</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{runningNo ? runningNo.division :
                                'ฝ่ายเทคโนโลยีสารสนเทศ (ITCSD)'}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Revision No.</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{runningNo ? runningNo.revisionNo :
                                'NONE'}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Department</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{runningNo ? runningNo.department :
                                '-'}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Modify No.</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{runningNo ? runningNo.modifyNo : '-'}}</span></div>
                            <div class="col-span-6 sm:col-span-3 font-medium">Year</div>
                            <ng-container *ngIf="runningNo;else yearSelect">
                                <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{runningNo ? runningNo.year : '-'}}</span></div>
                            </ng-container>
                            <ng-template #yearSelect>
                                <div class="col-span-6 sm:col-span-3 flex items-center">
                                    :
                                    <mat-form-field class="flex-auto ml-2">
                                        <mat-select [(ngModel)]="selectedYear" name="targetType">
                                            <mat-option *ngFor="let year of years" [value]="year.value">
                                                {{year.title}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-template>
                            <div class="col-span-6 sm:col-span-3 font-medium">Create Date</div>
                            <div class="col-span-6 sm:col-span-3">:<span class="ml-2">{{runningNo ? runningNo.createDate :
                                '22/06/2013'}}</span></div>
                        </div>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
    
            <div class="mt-6 xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded overflow-hidden">
                <div class="overflow-x-auto">
                    <app-target-table [dataSource]="targets" 
                        [displayedColumns]="displayedColumns"
                        [referenceId]="'targetId'"
                        [renderTemplate]="'target'"
                        [runningNo]="runningNo?.runningNo" 
                        [title]="'เป้าหมายหลัก'" 
                        (addTarget)="addTarget()"
                        (editTarget)="editTarget($event)"
                        (deleteTarget)="deleteTarget($event)"
                        #targetTable
                    >
                    </app-target-table>
                </div>
            </div>
        </div>
    </div>
</div>