table {
    width: 100%;
}
th.mat-header-cell,
td.mat-cell {
    text-align: center;
    // border: 1px solid rgb(100, 116, 139) !important;
    // padding: 0 !important;
}

// tr {
//     height: fit-content !important;
//     vertical-align: top !important;
// }

td.mat-footer-cell {
    padding: 0 !important;
    color: #94a3b8;
    border: none;
    font-size: 12px;
}

.mat-header-row {
    // background-color: rgb(206, 230, 150) !important;
    background-color: #b9db69 !important;
    // background-color: #cee696 !important
}

.mat-row {
    background-color: rgb(229, 240, 203) !important;
}

.mat-header-cell {
    color: white !important
}

// :host ::ng-deep .mat-paginator-container {
//     padding: 0 !important;
//     display: inline-block;
// }

// :host ::ng-deep .mat-paginator-range-label {
//     margin-left: 0 !important;
// }

// :host ::ng-deep .mat-sort-header-container {
//     justify-content: center;
// }

/* column width */
.mat-column-comment {
    width: 50%;
}
  
.mat-column-commentBy {
    width: 20%;
}

.mat-column-documentStatus {
    width: 15%;
}

.mat-column-commentDate {
    width: 15%;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: unset;
}