.sub-row {        
    p {
        font-weight: bold;
        // background: white;
        border-bottom: 1px solid white;
        padding: 10px;
        background-color: rgb(97, 138, 2);
        color: white;
    }
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
    // margin-left: 8px;
}

.example-table-container {
    max-height: 395px;
    overflow: auto;
}

:host ::ng-deep .mat-expansion-panel-body {
    padding: 0 24px !important;
}

:host ::ng-deep .mat-sort-header-arrow {
    color: white !important;
}

:host ::ng-deep .mat-form-field-wrapper {
    margin-bottom: 0 !important;
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 12px;
}

/* color */
.mat-header-row {
    background-color: rgb(132, 189, 0) !important; // important because replace by sticky
}

.mat-row:nth-child(even) {
    background-color: rgb(206, 230, 150);
}

.mat-row:nth-child(odd) {
    background-color: rgb(229, 240, 203);
}

.mat-header-row,
.mat-row {
    border-bottom-color: white;
}

.mat-header-cell {
    color: white !important
}

/* column width */
.mat-column-detailIcon {
    flex-basis: 5%;
}

.mat-column-parentId {
    flex-basis: 10%;
}

.mat-column-menuId {
    flex-basis: 10%;
}

.mat-column-menuTitle {
    flex-basis: 35%;
}

.mat-column-menuSequence {
    flex-basis: 10%;
}

.mat-column-menuUrl {
    flex-basis: 15%;
}

.mat-column-status {
    flex-basis: 10%;
}

.mat-column-editIcon {
    flex-basis: 2.5%;
}

.mat-column-deleteIcon {
    flex-basis: 2.5%;
}

@media only screen and (max-width: 768px) {
    .mat-table {
        overflow-x: scroll;
    }
    .mat-row,
    .mat-header-row {
        min-width: 800px;
    }
}
