.sub-row {        
    p {
        font-weight: bold;
        // background: white;
        border-bottom: 1px solid white;
        padding: 10px;
        background-color: rgb(97, 138, 2);
        color: white;
    }
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
    // margin-left: 8px;
}

.example-table-container {
    max-height: 395px;
    overflow: auto;
}

:host ::ng-deep .mat-expansion-panel-body {
    padding: 0 24px !important;
}

:host ::ng-deep .mat-form-field-wrapper {
    margin-bottom: 0 !important;
}

table {
    width: 100%;
    table-layout: fixed;
    min-width: 800px;
}

.mat-header-cell,
.mat-cell {
    border-bottom-color: white !important;
}

.mat-header-cell {
    color: white !important
}

:host ::ng-deep .mat-sort-header-arrow {
    color: white !important;
}

// mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
//     padding-left: 12px;
// }

/* color */
.mat-header-row {
    background-color: rgb(132, 189, 0) !important; // important because replace by sticky
}

.mat-row:nth-child(even) {
    background-color: rgb(206, 230, 150);
}

.mat-row:nth-child(odd) {
    background-color: rgb(229, 240, 203);
}

.mat-header-row,
.mat-row {
    border-bottom-color: white;
}

.mat-header-cell {
    color: white !important
}

/* column width */
.mat-column-parentId {
    width: 12.5%;
}

.mat-column-menuId {
    width: 10%;
}

.mat-column-menuTitle {
    width: 37.5%;
}

.mat-column-menuSequence {
    width: 10%;
}

.mat-column-menuUrl {
    width: 15%;
}

.mat-column-status {
    width: 10%;
}

.mat-column-editIcon {
    width: 2.5%;
}

.mat-column-deleteIcon {
    width: 2.5%;
}