<app-target-table [dataSource]="plans"
               [displayedColumns]="displayedColumns"
               [title]="'แผนงาน'"
               [renderTemplate]="'plan'"
               [runningNo]="runningNo"
               [targetIndex]="targetIndex"
               [subTargetIndex]="subTargetIndex"
               [mainMethodIndex]="mainMethodIndex"
               (addPlan)="addPlan()"
               (editPlan)="editPlan($event)"
               (deletePlan)="deletePlan($event)"
               #planTable
               >
</app-target-table>